//Imports
@use './../variables' as v;
@use './../mixins' as m;
@use './../device' as d;

//%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Container Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%
#createform-shell {
  appearance: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow-y: auto;

  //Mobile Sizing
  @include d.for-phone-only {
    height: 77vh;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
  }

  //Desktop Sizing
  @include d.for-desktop-up {
    height: 80vh;
    width: 80vw;
    margin-top: 5vh;
    margin-left: 10vw;
    margin-right: 10vw;
  }

  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Major Component Wrappers Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  //Form Element that Contains the Entire page
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      height: 100%;
      width: 100%;
      justify-content: space-evenly;
    }

    //Desktop Sizing & Positioning
    @include d.for-desktop-up {
      height: 40%;
      width: 100%;
      margin-top: 5%;
    }
  }

  #section-top {
    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      width: 100%;
      margin-bottom: 1.5rem;
    }

    //Desktop Sizing & Positioning
    @include d.for-desktop-up {
      width: 100%;
    }
  }


  //Middle of Form
  #section-mid {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      flex-direction: column;
    }

    //Desktop Sizing & Positioning
    @include d.for-desktop-up {
      flex-direction: row;
    }

    //Middle-left of Form
    #section-mid-left {
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: visible;

      //Mobile Sizing & Positioning
      @include d.for-phone-only {
        justify-content: space-between;
        width: 100%;
      }

      //Desktop Sizing & Positioning
      @include d.for-desktop-up {
        justify-content: flex-start;
      }

      //Location Field
      #createForm-location {
        //Mobile Sizing & Positioning
        @include d.for-phone-only {
          width: 90%;
          height: 4rem;
          margin-bottom: 1rem;
        }

        //Desktop Sizing & Positioning
        @include d.for-desktop-up {
          display: flex;
          flex-direction: row;
          width: 100%;
        }
      }

      //Description Field
      #createForm-description{
        //Mobile Sizing & Positioning
        @include d.for-phone-only {
          width: 90%;
          height: 8rem;
        }

        //Desktop Sizing & Positioning
        @include d.for-desktop-up {
          display: flex;
          flex-direction: row;
          width: 100%;
        }
      }
    }

    //Middle-right of form
    #section-mid-right {
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: visible;

      //Mobile Sizing & Positioning
      @include d.for-phone-only {
        justify-content: space-between;
        width: 100%;
      }

      //Desktop Sizing & Positioning
      @include d.for-desktop-up {
        justify-content: flex-start;
      }
      

      //Hour Dropdowns
      #calendarHours {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        //Mobile Sizing & Positioning
        @include d.for-phone-only {
          width: 90%;
          margin-bottom: 1rem;
        }

        //Desktop Sizing & Positioning
        @include d.for-desktop-up {

        }

        //Class that covers both dropdowns
        .time-drop-down {
          //Mobile Sizing & Positioning
          @include d.for-phone-only {
            width:50%;
            height: 2.5rem;

            //Text Above
            span{
              font-size: 0.8rem;
            }
            
            //Field
            select {
              font-size: 0.8rem;
            }
          }

          //Desktop Sizing & Positioning
          @include d.for-desktop-up {

          }
        }
      }

      //Calendar Component
      #calendarShell {
        //Mobile Sizing & Positioning
        @include d.for-phone-only {
          width: 90%;
        }

        //Desktop Sizing & Positioning
        @include d.for-desktop-up {

        }
      }
    }
  }

  //Bottom of Form
  #section-bottom {

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      width: 100%
    }

    //Desktop Sizing & Positioning
    @include d.for-desktop-up {
      width: 100%;
    }
  }

  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Class Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%


  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Individual Element Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  //Event Title Field at the top of the page
  #createForm-title {
    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      width: 100%;
    }

    //Desktop Sizing & Positioning
    @include d.for-desktop-up {
      width: 100%;
    }

    input {
      border: none;
      color: v.$font-heavy;
      text-align: center;
      background: linear-gradient(360deg, v.$font-heavy, v.$font-heavy) center bottom/0% 5% no-repeat;
      transition: background-size 0.3s ease;

      //Mobile Sizing & Positioning
      @include d.for-phone-only {
        font-size: 2rem;
        width: 90%
      }

      //Desktop Sizing & Positioning
      @include d.for-desktop-up {
        font-size: 2.5rem;
        width: 50%;
      }

      &::placeholder {
        color: v.$font-heavy;
        opacity: 100;

        //Mobile Sizing & Positioning
        @include d.for-phone-only {
          font-size: 3rem;
        }

        //Desktop Sizing & Positioning
        @include d.for-desktop-up {
          font-size: 2.5rem;
        }
      }

      &:focus {
        background-size: 100% 5%;
        &::placeholder {
          opacity: 0;
        }
      }

      &:valid {
        &::placeholder {
          opacity: 0;
        }
      }
    }
  }

  //Create Button
  #createForm-submit {
    border: solid;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      width: 100%;
    }

    //Desktop Sizing & Positioning
    @include d.for-desktop-up {
      width: 50%;
    }

    input {
      border: none;
      color: v.$font-light !important;
      @include m.hover-underline(v.$font-light, 8%);
  
      font-family: v.$fancy-font;
      transition: background-size 0.45s ease;

      //Mobile Sizing & Positioning
      @include d.for-phone-only {
        font-size: 1.5rem;
      }

      //Desktop Sizing & Positioning
      @include d.for-desktop-up {
        font-size: 2.5rem;
      }
    }
  }
}

