//Imports
@use './../../variables' as v;
@use './../../mixins' as m;
@use './../../device' as d;

//%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Container Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%
#event-shell {
  // border: solid red;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  padding-top: calc(10rem + 5vw);
  background: linear-gradient(180deg, rgb(65, 115, 195) 0%, hsla(187, 47%, 52%, 1) 30%, hsla(0, 0%, 100%, 1) 50%);

  width: 100vw;

  //Mobile Sizing & Positioning
  @include d.for-phone-only {

  }

  //Tablet Portrait Sizing & Positioning
  @include d.for-tablet-portrait-up {

  }

  //Tablet Landscape Sizing & Positioning
  @include d.for-tablet-landscape-up {

  }

  //Desktop Sizing & Positioning
  @include d.for-desktop-up {

  }


  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Major Component Wrappers Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  #event-top-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  #event-bottom-section {
    border: solid blue;
    position: relative;

    width: 100%;
    height: calc(10rem + 20vw);
  }

  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Class Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%



  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Individual Element Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%


  //----------------------- Bottom Section -----------------------
  #event-graphic {
    background-image: url("./../../../../public/assets/graphics/event_page/event_graphic.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    background-size: cover;

    width: 18vw;
    height: 15vw;

    position: absolute;

    bottom: 0;
    left: 25%;
  }
}