//Imports
@use './../../variables' as v;
@use './../../mixins' as m;
@use './../../device' as d;

//%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Container Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%
#event-shell {
  // border: solid red;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  padding-top: calc(10rem + 5vw);
  background: linear-gradient(180deg, rgb(65, 115, 195) 0%, hsla(187, 47%, 52%, 1) 25%, hsla(0, 0%, 100%, 1) 41%);

  width: 100vw;

  $event-bottom-section-height: 20vw;

  //Mobile Sizing & Positioning
  @include d.for-phone-only {

  }

  //Tablet Portrait Sizing & Positioning
  @include d.for-tablet-portrait-up {

  }

  //Tablet Landscape Sizing & Positioning
  @include d.for-tablet-landscape-up {

  }

  //Desktop Sizing & Positioning
  @include d.for-desktop-up {

  }


  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Major Component Wrappers Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  #event-top-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  #event-bottom-section {
    border: solid blue;
    position: relative;

    width: 100%;
    height: $event-bottom-section-height;
    margin-bottom: 0;
    padding: 0;
  }

  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Class Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%



  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Individual Element Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%


  //----------------------- Bottom Section -----------------------
  #event-graphic {
    background-image: url("./../../../../public/assets/graphics/event_page/event_graphic.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    background-size: cover;

    width: 16vw;
    height: 13vw;

    position: absolute;

    bottom: -0.25%;
    left: 23vw;

    margin: 0;
    padding: 0;
  }

  //----------------------- Submission Text -----------------------

  #event-submission-text {
    // border: solid red;
    width: 30vw;

    position: absolute;
    bottom: calc($event-bottom-section-height * 0.45);
    right: 30vw;

    font-family: v.$font_two;
    color: v.$pallette_three;

    cursor: default;
    pointer-events: none;

    h1 {
      font-size: calc(0.1rem + 1.3vw);
      border-bottom: solid;
      width: fit-content;
      margin: 0 0 1vw 0;
      padding: 0;
    }

    h6 {
      font-size: calc(0.1rem + 0.8vw);
      line-height: calc(0.1rem + 1vw);
      margin: 0 0 0.8vw 0;
      padding: 0;
    }

    p{
      color: #c24343;
      font-size: calc(0.1rem + 0.65vw);
      line-height: calc(0.1rem + 0.8vw);
      margin: 0 0 0.5vw 0;
      padding: 0;
    }
  }

  //----------------------- Submission Field & Button -----------------------
  
  //Submission Subsection Wrapper
  #event-submission-field {
    // border: solid red;
    width: 25%;

    position: absolute;
    bottom: calc($event-bottom-section-height * 0.18);
    right: 32vw;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  //Add Submission Wrapper
  #event-submission-wrapper {
    height: 3.5vw;
    width: 3.5vw;
    color: v.$pallette_three;
  }

  //Add Submission Button
  #event-submission-button {
    height: 100%;
    width: 100%;
    color: inherit;
    cursor: pointer;
  }

  #event-name-wrapper {
    // border: solid red;
    padding: 0;

    height: 3vw;
    width: 80%;
    margin-top: 1vw;

    position: relative;

    input {
      width: 98%;
      height: 100%;
      border: none;
      
      background: linear-gradient(360deg, v.$pallette_three, v.$pallette_three) left bottom/0% 5% no-repeat;
      transition: background-size 0.5s ease;

      font-size: calc(0.1rem + 1.2vw);
      font-family: v.$font-two;
      color: v.$pallette_three;

      &:focus, &:valid {
        background-size: 100% 5%;
        border: none;
        outline: none;
      }
    }

    input:valid + .placeholder,
    input:focus + .placeholder {
      top: -50%;
      left: 0%;
      font-size: calc(0.1rem + 0.8vw);
    }

    span{
      position: absolute;
      left: 5%;
      top: calc(55% - (1rem + 0.5vw));

      font-size: calc(0.1rem + 1.2vw);
      font-family: v.$font-two;
      color: v.$pallette_three;

      transition: top 0.5s ease, left 0.5s ease, font-size 0.5s ease;
    }
  }

}