//Imports
@use './../../variables' as v;
@use './../../mixins' as m;
@use './../../device' as d;

//%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Container Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%
#event-shell {
  // border: solid red;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  padding-top: 25vh;
  background: linear-gradient(180deg, rgb(65, 115, 195) 0%, hsla(187, 47%, 52%, 1) 25%, hsla(0, 0%, 100%, 1) 60%);

  width: 100vw;

  $event-bottom-section-height: 20vw;
  $event-bottom-section-height-mobile: fit-content;
  $event-bottom-section-height-portrait: fit-content;

  //Mobile Sizing & Positioning
  @include d.for-phone-only {
    min-height: v.$body-height-mobile;
    padding-top: v.$body-padding-top-mobile;
  }

  //Tablet Portrait Sizing & Positioning
  @include d.for-tablet-portrait-up {
    min-height: v.$body-height-portrait;
    padding-top: v.$body-padding-top-portrait;
  }


  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Major Component Wrappers Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  #event-top-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      margin-bottom: 5vw;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      margin-bottom: 5vw;
    }
  }

  #event-bottom-section {
    // border: solid blue;
    position: relative;

    width: 100%;
    height: $event-bottom-section-height;
    margin-bottom: 0;
    padding: 0;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      height: $event-bottom-section-height-mobile;

      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      height: $event-bottom-section-height-portrait;

      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }
  }

  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Class Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%



  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Individual Element Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%


  //----------------------- Bottom Section -----------------------
  #event-graphic {
    background-image: url("./../../../../public/assets/graphics/event_page/event_graphic.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    background-size: cover;

    width: 16vw;
    height: 13vw;

    position: absolute;

    bottom: -0.25%;
    left: 23vw;

    margin: 0;
    padding: 0;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      position: static;
      width: 55vw;
      height: 45vw;
      margin-top: 8vw;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      position: static;
      width: 55vw;
      height: 45vw;
      margin-top: 8vw;
    }
  }

  //----------------------- Submission Text -----------------------

  #event-submission-text {
    // border: solid red;
    width: 30vw;

    position: absolute;
    bottom: calc($event-bottom-section-height * 0.45);
    right: 30vw;

    font-family: v.$font_two;
    color: v.$pallette_three;

    cursor: default;
    pointer-events: none;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      position: static;

      width: 55vw;
      margin-top: 5vw;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      position: static;

      width: 55vw;
      margin-top: 5vw;
    }

    h1 {
      font-size: calc(0.1rem + 1.3vw);
      border-bottom: solid;
      width: fit-content;
      margin: 0 0 1vw 0;
      padding: 0;

      //Mobile Sizing & Positioning
      @include d.for-phone-only {
        font-size: calc(0.1rem + 5vw);
        margin: 0 0 2.5vw 0;
      }

      //Tablet Portrait Sizing & Positioning
      @include d.for-tablet-portrait-up {
        font-size: calc(0.1rem + 4vw);
        margin: 0 0 2vw 0;
      }
    }

    h6 {
      font-size: calc(0.1rem + 0.8vw);
      line-height: calc(0.1rem + 1vw);
      margin: 0 0 0.8vw 0;
      padding: 0;

      //Mobile Sizing & Positioning
      @include d.for-phone-only {
        line-height: calc(0.1rem + 3.2vw);
        font-size: calc(0.1rem + 3vw);
        margin: 0 0 2.5vw 0;
      }

      //Tablet Portrait Sizing & Positioning
      @include d.for-tablet-portrait-up {
        line-height: calc(0.1rem + 2.4vw);
        font-size: calc(0.1rem + 2.2vw);
        margin: 0 0 2vw 0;
      }
    }

    p {
      color: #c24343;
      font-size: calc(0.1rem + 0.65vw);
      line-height: calc(0.1rem + 0.8vw);
      margin: 0 0 0.5vw 0;
      padding: 0;

      //Mobile Sizing & Positioning
      @include d.for-phone-only {
        line-height: calc(0.1rem + 3.2vw);
        font-size: calc(0.1rem + 3vw);
        margin: 0 0 2.5vw 0;
      }

      //Tablet Portrait Sizing & Positioning
      @include d.for-tablet-portrait-up {
        line-height: calc(0.1rem + 2.5vw);
        font-size: calc(0.1rem + 2vw);
        margin: 0 0 2vw 0;
      }
    }
  }

  //----------------------- Submission Field & Button -----------------------
  
  //Submission Subsection Wrapper
  #event-submission-field {
    // border: solid red;
    width: 25%;

    position: absolute;
    bottom: calc($event-bottom-section-height * 0.18);
    right: 32vw;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      position: static;

      width: 50%;
      margin-top: 5vw;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      position: static;

      width: 50%;
      margin-top: 5vw;
    }
  }

  //Add Submission Wrapper
  #event-submission-wrapper {
    height: 3.5vw;
    width: 3.5vw;
    color: v.$pallette_three;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      height: 8vw;
      width: 8vw;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      height: 8vw;
      width: 8vw;
    }
  }

  //Add Submission Button
  #event-submission-button {
    height: 100%;
    width: 100%;
    color: inherit;
    cursor: pointer;
  }

  #event-name-wrapper {
    // border: solid red;
    padding: 0;

    height: 3vw;
    width: 80%;
    margin-top: 1vw;

    position: relative;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      height: 8vw;
      width: 80%;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      height: 8vw;
      width: 80%;
    }

    input {
      width: 98%;
      height: 100%;
      border: none;
      
      background: linear-gradient(360deg, v.$pallette_three, v.$pallette_three) left bottom/0% 5% no-repeat;
      transition: background-size 0.5s ease;

      font-size: calc(0.1rem + 1.2vw);
      font-family: v.$font-two;
      color: v.$pallette_three;

      //Mobile Sizing & Positioning
      @include d.for-phone-only {
        font-size: calc(0.1rem + 3.5vw);
        margin-left: 1vw;
      }

      //Tablet Portrait Sizing & Positioning
      @include d.for-tablet-portrait-up {
        font-size: calc(0.1rem + 2.5vw);
        margin-left: 1vw;
      }

      &:focus, &:valid {
        background-size: 100% 5%;
        border: none;
        outline: none;
      }
    }

    input:valid + .placeholder,
    input:focus + .placeholder {
      top: -50%;
      left: 0%;
      font-size: calc(0.1rem + 0.8vw);

      //Mobile Sizing & Positioning
      @include d.for-phone-only {
        font-size: calc(0.1rem + 2vw);
      }

      //Tablet Portrait Sizing & Positioning
      @include d.for-tablet-portrait-up {
        font-size: calc(0.1rem + 2vw);
      }
    }

    span{
      position: absolute;
      left: 5%;
      top: calc(55% - (1rem + 0.5vw));

      font-size: calc(0.1rem + 1.2vw);
      font-family: v.$font-two;
      color: v.$pallette_three;

      transition: top 0.5s ease, left 0.5s ease, font-size 0.5s ease;

      //Mobile Sizing & Positioning
      @include d.for-phone-only {
        font-size: calc(0.1rem + 2.5vw);
      }

      //Tablet Portrait Sizing & Positioning
      @include d.for-tablet-portrait-up {
        font-size: calc(0.1rem + 2.5vw);
      }
    }
  }

}