@use './../variables' as v;
@use './../mixins' as m;
@import '../device_layout/layout';

/* &%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Before Classes %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%& */

.atd-transition-base {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -2;

  opacity: 0;

  background-color: v.$details-background-color;
  background-image: v.$details-background-image;

  transition: opacity 1s ease;
}

/* &%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Move Classes %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%& */

div.atd-transition-move {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;

  opacity: 1;

  background-color: v.$details-background-color;
  background-image: v.$details-background-image;

  transition: opacity 1s ease;
}