//Imports
@use './../../variables' as v;
@use './../../mixins' as m;
@use './../../device' as d;

//%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Container Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%
#signup-shell {

  //Test Styles
  // border: solid;
  // border-color: red;

  //Display Settings
  margin: auto;

  //Mobile Sizing
  @include d.for-phone-only {}

  //Tablet Portrait Sizing & Positioning
  @include d.for-tablet-portrait-up {}

  //Tablet Landscape Sizing & Positioning
  @include d.for-tablet-landscape-up {}

  //Desktop Sizing
  @include d.for-desktop-up {}

  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Major Component Wrappers Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  //Content Wrapper
  #signup-content {

    //Test Styles
    // border: solid;
    // border-color: orange;

    //Position Styles
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {}

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {}

    //Tablet Landscape Sizing & Positioning
    @include d.for-tablet-landscape-up {}

    //Desktop Sizing & Positioning
    @include d.for-desktop-up {}
  }

  #signup-form {

    //Test Styles
    // border: solid;
    // border-color: greenyellow;

    //Position Styles
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {}

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {}

    //Tablet Landscape Sizing & Positioning
    @include d.for-tablet-landscape-up {}

    //Desktop Sizing & Positioning
    @include d.for-desktop-up {}
  }

  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Class Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  .signup-fields {

    //Test Styles
    // border: solid;
    // border-color: blue;

    //Position Styles
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    //Margin
    margin-bottom: 1rem;
  }

  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Individual Element Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  #signup-submit {
    margin-bottom: 2rem;
  }


}