@use './../../../variables' as v;
@use './../../../mixins' as m;
@use './../../../device' as d;
//%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Container Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%
#calendar-shell {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  color: rgba(1, 77, 89, 1);
  font-family: v.$font-two;

  width: 100%;

  //Mobile Sizing & Positioning
  @include d.for-phone-only {

  }

  //Tablet Portrait Sizing & Positioning
  @include d.for-tablet-portrait-up {

  }

  //Tablet Landscape Sizing & Positioning
  @include d.for-tablet-landscape-up {

  }

  //Desktop Sizing & Positioning
  @include d.for-desktop-up {

  }

  //Large Desktop Sizing & Positioning
  @include d.for-big-desktop-up {

  }

  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Major Component Wrappers Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  //Calendar Header
  #calendar-heading {
    border-bottom: solid;
    border-color: #BDBDBD;
    border-width: 0.15rem;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: rgba(1, 77, 89, 1);

    width: 40%;
    font-size: calc(0.8rem + 1vw);
    margin-bottom: max(4rem, 3vw);

    //Mobile Sizing & Positioning
    @include d.for-phone-only {

    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {

    }

    //Tablet Landscape Sizing & Positioning
    @include d.for-tablet-landscape-up {

    }

    //Desktop Sizing & Positioning
    @include d.for-desktop-up {

    }

    //Large Desktop Sizing & Positioning
    @include d.for-big-desktop-up {

    }
  }

  //Grid Layout with 7 columns
  #calendar-body {
    // border: solid;
    // border-color: royalblue;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {

    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {

    }

    //Tablet Landscape Sizing & Positioning
    @include d.for-tablet-landscape-up {

    }

    //Desktop Sizing & Positioning
    @include d.for-desktop-up {

    }

    //Large Desktop Sizing & Positioning
    @include d.for-big-desktop-up {

    }
  }

  //Style for Individual Items in the grid
  div.calendar-item {
    // border: solid;
    // border-color: red;

    width: 5vw;
    height: 5vw;
    border-radius: 100% 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-size: calc(1rem + 1vw);
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
  }

  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Class Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  //Style for Selected Items in the grid
  .calendar-selected {
    background-color: #9AFF9E !important;
    color: v.$pallette_two !important;
  }

  .calendar-day-label {
    pointer-events: none;
  }

  .selectable {
    color: #000000;

    &:hover {
      background-color: #CEFFE5;
      border-style: solid;
      border-width: 0em;
    }
  }

  .Invisible {
    color: v.$invisible;
  }

  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Individual Element Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

}