@use './../../../variables' as v;
@use './../../../mixins' as m;
@use './../../../device' as d;


//%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Container Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%
#calendar-shell {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  font-family: v.$font-two;

  width: 100%;

  //Mobile Sizing & Positioning
  @include d.for-phone-only {

  }

  //Tablet Portrait Sizing & Positioning
  @include d.for-tablet-portrait-up {

  }

  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Major Component Wrappers Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  //Calendar Header
  #calendar-heading {
    border-bottom: solid;
    border-color: #BDBDBD;
    border-width: 0.15rem;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    margin-bottom: max(4rem, 3vw);

    color: rgba(1, 77, 89, 1);
    font-size: calc(0.8rem + 1vw);

    //Mobile Sizing & Positioning
    @include d.for-phone-only {

    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {

    }
  }

  //Grid Layout with 7 columns
  #calendar-body {
    // border: solid;
    // border-color: royalblue;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {

    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {

    }
  }

  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Class Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  //Style for Individual Items in the grid
  .calendar-item {
    // border: solid;
    // border-color: red;

    width: 5vw;
    height: 5vw;
    border-radius: 100% 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-size: calc(1rem + 1vw);
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
  }

  //Assign Color for Days of the week
  .calendar-day-label {
    color: rgba(1, 77, 89, 1);
  }

  //Style for selectable days
  .selectable {
    color: #000000;
  }

  //Style for unselectable days
  .unselectable {
    pointer-events:"none";
    color: rgba(0, 0, 0, 0.40) !important;
  }

  //Style for Selected Items in the grid
  .calendar-selected {
    background-color: #9AFF9E !important;
  }

  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Individual Element Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

}