//Imports
@use './../../../variables' as v;
@use './../../../mixins' as m;
@use './../../../device' as d;

//%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Container Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%
#create-top-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  //Mobile Sizing
  @include d.for-phone-only {
    flex-direction: column;
  }

  //Tablet Portrait Sizing & Positioning
  @include d.for-tablet-portrait-up {
    flex-direction: column;
  }

  //Tablet Landscape Sizing & Positioning
  @include d.for-tablet-landscape-up {}

  //Desktop Sizing
  @include d.for-desktop-up {}

  //Large Desktop Sizing & Positioning
  @include d.for-big-desktop-up {}

  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Major Component Wrappers Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  #create-top-left-subsection {
    border: solid;
    border-color: red;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    width: 45vw;
    height: 15vw;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {}

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {}

    //Tablet Landscape Sizing & Positioning
    @include d.for-tablet-landscape-up {}

    //Desktop Sizing & Positioning
    @include d.for-desktop-up {}

    //Large Desktop Sizing & Positioning
    @include d.for-big-desktop-up {}
  }

  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Class Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  .create-top-left-wrapper {
    width: 100%;
    overflow-y: hidden;
    text-overflow: ellipsis;
  }

  .create-top-left-field {
    background: none;
    border: none;
    color: v.$pallette_two;
    font-family: v.$font-two;
    text-align: left;
    text-overflow: ellipsis;
    overflow-y: hidden;

    width: 100%;
    
    &::placeholder {
      opacity: 80%;
      font-family: v.$font-two;
    }

    &::selection {
      background-color: rgb(65, 115, 195);
    }

    &:focus {
      outline: none;
    }

  }

  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Individual Element Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%


  //Event Title
  label#create-title-wrapper {
    width: 100%;
    overflow-y: hidden;

    input {
      font-size: calc(1rem + 3.5vw);
    }
  }

  //Event Location
  label#create-location-wrapper {
    width: 100%;

    input {
      font-size: calc(1rem + 2.5vw);
    }
  }

  //Description Element
  label#create-description-wrapper {
    position: relative;

    textarea {
      border: none;
      resize: none;
      font-family: v.$font-two;
      color: rgba(0, 0, 0, 0.6);
      opacity: 80%;

      &::placeholder {
        opacity: 30%;
        font-family: v.$font-two;
      }

      &::selection {
        background-color: rgb(65, 115, 195);
      }

      &:focus {
        outline: none;

        span#placeholder {
          opacity: 0 !important;
          z-index: -1 !important;
          pointer-events: none !important;
        }
      }

      border-radius: 0.8vw;
      padding: 1vw;

      width: 35vw;
      height: 15vw;

      font-size: calc(1rem + 0.4vw);
      z-index: 0;

      //Mobile Sizing & Positioning
      @include d.for-phone-only {

      }

      //Tablet Portrait Sizing & Positioning
      @include d.for-tablet-portrait-up {

      }

      //Tablet Landscape Sizing & Positioning
      @include d.for-tablet-landscape-up {

      }

      //Desktop Sizing & Positioning
      @include d.for-desktop-up {

      }

      //Large Desktop Sizing & Positioning
      @include d.for-big-desktop-up {

      }
    }

    span#placeholder {
      font-family: v.$font-two;
      font-size: calc(1rem + 0.4vw);
      opacity: 30%;

      position: absolute;
      z-index: 1;
      left: 2vw;
      top: 1vw;
    }

    span#word-count {

    }
  }
}