//Imports
@use './../../../variables' as v;
@use './../../../mixins' as m;
@use './../../../device' as d;

//%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Container Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%
#create-bottom-section {

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  //Mobile Sizing
  @include d.for-phone-only {
    flex-direction: column;
  }

  //Tablet Portrait Sizing & Positioning
  @include d.for-tablet-portrait-up {
    flex-direction: column;
  }

  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Major Component Wrappers Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  //@#@#@#@#@&%&%&%&%&@#@#@#@#@ Left Sub-section @#@#@#@#@&%&%&%&%&@#@#@#@#@

  #create-bottom-left-subsection {
    // border: solid greenyellow;

    height: 100%;
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    //Mobile Sizing
    @include d.for-phone-only {
      height: fit-content;
      width: 100%;

      margin-bottom: 4vw;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      height: fit-content;
      width: 100%;

      margin-bottom: 4vw;
    }
  }

  #create-time-select-wrapper {
    // border: solid red;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: max(0.5rem, 1.5vw) max(0.5rem, 1.5vw);
    grid-template-rows: repeat(2, 1fr);

    max-width: 80%;

    position: absolute;
    top: 30%;
    left: 5vw;

    //Mobile Sizing
    @include d.for-phone-only {
      width: 90%;
      max-width: 90%;
      height: fit-content;

      gap: 5vw 5vw;
      position: relative;
      
      bottom: 0;
      left: 0;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      width: 80%;
      max-width: 90%;
      
      gap: 5vw 5vw;
      position: relative;
      
      bottom: 0;
      left: 0;
    }
  }

  //@#@#@#@#@&%&%&%&%&@#@#@#@#@ Right Sub-section @#@#@#@#@&%&%&%&%&@#@#@#@#@

  #create-bottom-right-subsection {
    // border: solid greenyellow;

    height: 100%;
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    //Mobile Sizing
    @include d.for-phone-only {
      height: 100vw;
      width: 100%;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      height: 70vw;
      width: 100%;
    }
  }

  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Class Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  .create-time-select-button {
    background-color: #E9ECFF;
    font-family: v.$font-two;
    font-size: calc(1rem + 0.8vw);

    height: 5.5vw;
    width: 12vw;

    border-radius: 0.3vw;
    border: solid;
    border-color: #014D59;
    border-width: 0;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      font-size: 5vw;
      height: 25vw;
      width: 100%;
      margin: 0 0 0 0;
      padding: 0 0 0 0;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      font-size: 5vw;
      height: 18vw;
      width: 100%;
      margin: 0 0 0 0;
      padding: 0 0 0 0;
    } 
  }

  .button-selected {
    border-width: 0.2vw !important;
    color: v.$pallette_three !important;
    border-color: v.$pallette_three !important;
    background-color: v.$pallette_six !important;
  }

  .hidden {
    height: 0 !important;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }


  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Individual Element Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  //@#@#@#@#@&%&%&%&%&@#@#@#@#@ Left Sub-section @#@#@#@#@&%&%&%&%&@#@#@#@#@

  //"Time Range" text
  #create-time-select-header {
    color: v.$pallette_three;
    font-family: v.$font-two;
    font-size: calc(0.1rem + 2vw);
    pointer-events: none;

    position: absolute;
    top: 10%;
    left: 14%;

    margin: 0 0 0 0;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      font-size: calc(0.1rem + 6vw);
      position: relative;
      bottom: 0vw;
      left: 0vw;
      top: 0vw;

      margin-bottom: 2vw;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      font-size: calc(0.1rem + 6vw);
      position: relative;
      bottom: 0vw;
      left: 0vw;
      top: 0vw;

      margin-bottom: 2vw;
    }
  }

  //"Select all that apply" text
  #create-time-select-secondary-text {
    color: v.$pallette_five;
    font-family: v.$font-one;
    font-size: calc(0.1rem + 0.8vw);
    pointer-events: none;

    position: absolute;
    top: 18%;
    left: 15%;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      font-size: calc(0.1rem + 3vw);
      position: relative;
      bottom: 0vw;
      left: 0vw;
      top: 0vw;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      font-size: calc(0.1rem + 3vw);
      position: relative;
      bottom: 0vw;
      left: 0vw;
      top: 0vw;
    }    
  }

  #create-time-select-warning {
    // border: solid red;
    color: rgb(173, 85, 85);
    font-family: v.$font-two;
    font-size: calc(0.5rem + 0.55vw);

    width: 30vw;

    position: absolute;
    left: 5vw;
    top: -5%;
    padding: 0 0 0 0;

    transition: color 0.5s ease, height 0.5s ease;

    #create-time-select-warning-subtext {
      font-style: italic;
    }

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      position: relative;
      font-size: calc(0.1rem + 3.5vw);
      width: 80%;
      height: 30vw;
      margin-bottom: 4vw;

      overflow: hidden;
      bottom: 0vw;
      left: 0vw;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      position: relative;
      font-size: calc(0.1rem + 3.5vw);
      width: 80%;
      height: 25vw;

      overflow: hidden;
      bottom: 0vw;
      left: 0vw;
    }   
  }

  //@#@#@#@#@&%&%&%&%&@#@#@#@#@ Right Sub-section @#@#@#@#@&%&%&%&%&@#@#@#@#@

  #create-submit-text-bubble {
    background-color: v.$pallette_six;
    border-radius: 100% 100%;
    padding: 2vw;

    width: 18vw;
    height: 5vw;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    bottom: 20vw;
    left: 6vw;
    z-index: 1;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      bottom: 55vw;
      left: 25vw;

      width: 65vw;
      height: 40vw;

      padding: 2vw;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      bottom: 40vw;
      left: 35vw;

      width: 45vw;
      height: 20vw;

      padding: 2vw;
    } 
  }

  #create-submit-text-bubble-tail {
    background-image: url("./../../../../../public/assets/graphics/create_page/speech-bubble-tail.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-origin: content-box;
    background-size: contain;

    width: 3vw;
    height: 3vw;

    position: absolute;
    bottom: 20vw;
    left: 8vw;
    z-index: 0;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      bottom: 56vw;
      left: 36vw;

      width: 6vw;
      height: 6vw;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      bottom: 40vw;
      left: 42vw;

      width: 6vw;
      height: 6vw;
    } 
  }

  #create-submit-text {
    color: v.$pallette_three;
    font-family: v.$font-two;
    text-align: center;
    font-style: normal;

    font-size: calc(0.1rem + 1vw);

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      font-size: calc(0.1rem + 3.5vw);
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      font-size: calc(0.1rem + 2.5vw);
    } 
  }

  #create-submit {
    color: v.$pallette_two;
    background-color: v.$pallette_one;
    border: solid;
    border-radius: 0;
    border-radius: 5rem;
    border-width: 0;

    border-color: rgba(1,1,1,1);

    width: 11vw;
    height: 3.5vw;
    padding: 1vw;

    font-family: v.$font-one;
    font-weight: 700;
    font-size: calc(0.1rem + 1.1vw);

    position: absolute;
    bottom: 12vw;
    left: 19vw;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      bottom: 15vw;
      left: 60vw;

      width: 25vw;
      height: 8vw;
      font-size: calc(0.1rem + 2.5vw);
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      bottom: 15vw;
      left: 60vw;

      width: 25vw;
      height: 8vw;
      font-size: calc(0.1rem + 2.5vw);
    } 
  }

  //Person Graphic
  #create-person-graphic {
    // border: solid orange;

    position: absolute;

    width: calc(5rem + 17vw);
    height: calc(5rem + 18vw);

    background-image: url("./../../../../../public/assets/graphics/create_page/create-person.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-origin: content-box;
    background-size: contain;

    position: absolute;
    bottom: 0;
    left: 0;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      bottom: 0;
      left: 10vw;

      width: 50vw;
      height: 70vw;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      bottom: 0;
      left: 10vw;

      width: 40vw;
      height: 40vw;
    } 
  }
}