//Imports
@use './../../../variables' as v;
@use './../../../mixins' as m;
@use './../../../device' as d;

//%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Container Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%
#create-top-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  //Mobile Sizing
  @include d.for-phone-only {
    flex-direction: column;
  }

  //Tablet Portrait Sizing & Positioning
  @include d.for-tablet-portrait-up {
    flex-direction: column;
  }

  //Tablet Landscape Sizing & Positioning
  @include d.for-tablet-landscape-up {}

  //Desktop Sizing
  @include d.for-desktop-up {}

  //Large Desktop Sizing & Positioning
  @include d.for-big-desktop-up {}

  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Major Component Wrappers Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  #create-top-left-subsection {
    // border: solid;
    // border-color: red;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 40vw;
    height: 15vw;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {}

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {}

    //Tablet Landscape Sizing & Positioning
    @include d.for-tablet-landscape-up {}

    //Desktop Sizing & Positioning
    @include d.for-desktop-up {}

    //Large Desktop Sizing & Positioning
    @include d.for-big-desktop-up {}
  }

  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Class Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  .create-top-left-wrapper {
    width: 100%;
  }

  .create-top-left-field {
    background: none;
    border: none;
    color: v.$pallette_two;
    font-family: v.$font-two;
    text-align: left;
    text-overflow: ellipsis;

    &::selection {
      background-color: rgb(65, 115, 195);
    }

    &:focus {
      outline: none;
    }

  }

  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Individual Element Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%


  //Event Title
  label#create-title-wrapper {
    // border: solid;
    // border-color: red;

    width: 100%;
    position: relative;

    margin-bottom: max(5rem, 5vw);

    input {
      font-size: calc(1rem + 3.5vw);
      width: 100%;
      background: linear-gradient(360deg, v.$pallette_two, v.$pallette_two) left bottom/0% 5% no-repeat;
      transition: background-size 0.3s ease;
    }

    span{
      position: absolute;
      top: 12%;
      left: 45%;

      color: v.$pallette_two;
      font-family: v.$font-two;
      text-align: left;
      font-size: calc(1rem + 3.5vw);

      transition: top 0.3s ease, left 0.3s ease,font-size 0.3s ease;
    }

    input:valid + .placeholder,
    input:focus + .placeholder {
      top: -2.3vw;
      left: 0.5vw;
      font-size: calc(0.5rem + 1.5vw);
    }

    input:focus {
      background-size: 100% 5%;
    }
  }

  //Event Location
  label#create-location-wrapper {
    // border: solid;
    // border-color: orange;

    width: 100%;
    position: relative;

    input {
      font-size: calc(1rem + 2.5vw);
      width: 100%;
      background: linear-gradient(360deg, v.$pallette_two, v.$pallette_two) left bottom/0% 5% no-repeat;
      transition: background-size 0.3s ease;
    }

    span{
      position: absolute;
      top: 12%;
      left: 41%;

      color: v.$pallette_two;
      font-family: v.$font-two;
      text-align: left;
      font-size: calc(1rem + 2.5vw);

      transition: top 0.3s ease, left 0.3s ease, font-size 0.3s ease;
    }

    input:valid + .placeholder,
    input:focus + .placeholder {
      top: -2.3vw;
      left: 0.5vw;
      font-size: calc(0.5rem + 1.5vw);
    }

    input:focus {
      background-size: 100% 5%;
    }
  }

  //Description Element
  label#create-description-wrapper {
    position: relative;

    textarea {
      border: none;
      resize: none;
      font-family: v.$font-two;
      color: rgba(0, 0, 0, 0.6);
      opacity: 80%;

      &::selection {
        background-color: rgb(65, 115, 195);
      }

      &:focus {
        outline: none;
      }

      border-radius: 0.8vw;
      padding: 1vw;

      width: 42vw;
      height: 18vw;

      font-size: calc(1rem + 0.4vw);

      //Mobile Sizing & Positioning
      @include d.for-phone-only {

      }

      //Tablet Portrait Sizing & Positioning
      @include d.for-tablet-portrait-up {

      }

      //Tablet Landscape Sizing & Positioning
      @include d.for-tablet-landscape-up {

      }

      //Desktop Sizing & Positioning
      @include d.for-desktop-up {

      }

      //Large Desktop Sizing & Positioning
      @include d.for-big-desktop-up {

      }
    }

    span {
      font-family: v.$font-two;
      font-size: calc(1rem + 0.4vw);
      opacity: 30%;

      position: absolute;
      left: 2vw;
      top: 1vw;

      transition: opacity 0.3s ease;
    }

    textarea:valid + .placeholder,
    textarea:focus + .placeholder {
      opacity: 0;
    }
  }
}