//Imports
@use './../variables' as v;
@use './../mixins' as m;
@use './../device' as d;

//%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Container Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%
#about-shell {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    color: v.$font-light;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
        height: 77vh;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {

    }
    
    //Tablet Landscape Sizing & Positioning
    @include d.for-tablet-landscape-up {

    }
  
    //Desktop Sizing & Positioning
    @include d.for-desktop-up {
        height: 80vh;
        margin-left: 12vw;
        margin-right: 12vw;
        padding-top: 8vh;
        overflow-y: auto;
    }

    //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Major Component Wrappers Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%
   
   //Styles for the top Heading & Page Buttons
    #about-top {
        width: 100%;

        //Mobile Sizing & Positioning
        @include d.for-phone-only {

        }
    
        //Tablet Portrait Sizing & Positioning
        @include d.for-tablet-portrait-up {

        }
    
        //Tablet Landscape Sizing & Positioning
        @include d.for-tablet-landscape-up {

        }
    
        //Desktop Sizing & Positioning
        @include d.for-desktop-up {
            
        }
    }


    //Section Selection
    #aboutSections {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-family: v.$fancy-font;

        //Mobile Sizing & Positioning
        @include d.for-phone-only {

        }

        //Tablet Portrait Sizing & Positioning
        @include d.for-tablet-portrait-up {

        }
        
        //Tablet Landscape Sizing & Positioning
        @include d.for-tablet-landscape-up {

        }
    
        //Desktop Sizing & Positioning
        @include d.for-desktop-up {

        }
    }



    //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Class Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%
    .aboutClickables {
        border: none;
        text-decoration: none;
        color: v.$font-light;
        font-weight: 600;
        margin: 0 1rem 0 1rem;

        @include m.hover-underline(v.$font-light, 8%);
        transition: background-size ease 0.4s;
    }


    .aboutSectionActive {
        background-size: 100% 8%;
    }

    //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Individual Element Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

    //Welcome Heading
    #welcome-heading {
        font-family: v.$home-page-branding;
        text-align: center;

        //Mobile Sizing & Positioning
        @include d.for-phone-only {

        }

        //Tablet Portrait Sizing & Positioning
        @include d.for-tablet-portrait-up {

        }
        
        //Tablet Landscape Sizing & Positioning
        @include d.for-tablet-landscape-up {

        }
    
        //Desktop Sizing & Positioning
        @include d.for-desktop-up {
            font-size: 4rem;
            margin: 0 0 1rem 0;
        }
    }

    #HIWAsterisk {
        font-size: 0.6rem;
    }


}