//Imports
@use './../variables' as v;
@use './../mixins' as m;
@use './../device' as d;

//%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Container Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%
#about-shell {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background: #ad5389;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(250deg, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: v.$font-light;

    // height: v.$desktop-body-height;
    padding-left: 12vw;
    padding-right: 12vw;

    h3 {
        width: fit-content;
        border-bottom: solid;
    }

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
        p {
            font-size: 1.15rem;
            line-height: 135%;
        }
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
        p {
            font-size: 1.15rem;
            line-height: 135%;
        }
    }
    
    //Tablet Landscape Sizing & Positioning
    @include d.for-tablet-landscape-up {
        p {
            font-size: 1.15rem;
            line-height: 145%;
        }
    }
  
    //Desktop Sizing & Positioning
    @include d.for-desktop-up {
        p {
            font-size: 1.15rem;
            line-height: 145%;
        }
    }

    //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Major Component Wrappers Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%
   
   //Styles for the top Heading & Page Buttons
    #about-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        //Mobile Sizing & Positioning
        @include d.for-phone-only {
            margin-top: 10%;
            margin-bottom: 20%;
        }
    
        //Tablet Portrait Sizing & Positioning
        @include d.for-tablet-portrait-up {
            margin-top: 10%;
            margin-bottom: 15%;
        }
    
        //Tablet Landscape Sizing & Positioning
        @include d.for-tablet-landscape-up {
            margin-top: 8%;
            margin-bottom: 5%;
        }
    
        //Desktop Sizing & Positioning
        @include d.for-desktop-up {
            margin-top: 8%;
            margin-bottom: 5%;
        }
    }

    //Section Selection
    #aboutSections {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        font-family: v.$fancy-font;

        //Mobile Sizing & Positioning
        @include d.for-phone-only {
            width: 100%;
        }

        //Tablet Portrait Sizing & Positioning
        @include d.for-tablet-portrait-up {
            width: 70%;
        }
        
        //Tablet Landscape Sizing & Positioning
        @include d.for-tablet-landscape-up {
            width: 50%;
        }
    
        //Desktop Sizing & Positioning
        @include d.for-desktop-up {
            width: 50%;
        }
    }

    #about-body{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        overflow-y: visible;

        //Mobile Sizing & Positioning
        @include d.for-phone-only {
            width: 100%;
            padding-bottom: 5rem;
        }

        //Tablet Portrait Sizing & Positioning
        @include d.for-tablet-portrait-up {
            width: 100%;
            padding-bottom: 5rem;
        }

        //Tablet Landscape Sizing & Positioning
        @include d.for-tablet-landscape-up {
            width: 80%;
            padding-bottom: 5rem;
        }

        //Desktop Sizing & Positioning
        @include d.for-desktop-up {
            width: 80%;
            padding-bottom: 5rem;
        }
    }

    #tech-links {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        width: 100%;
        margin-top: 10%;
        margin-bottom: 5%;

        //Mobile Sizing & Positioning
        @include d.for-phone-only {
            font-size: 1.3rem;
        }

        //Tablet Portrait Sizing & Positioning
        @include d.for-tablet-portrait-up {
            font-size: 2rem;
        }

        //Tablet Landscape Sizing & Positioning
        @include d.for-tablet-landscape-up {
            font-size: 3rem;
        }

        //Desktop Sizing & Positioning
        @include d.for-desktop-up {
            font-size: 3rem;
        }
    }



    //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Class Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%
    .how-section {
        //Mobile Sizing & Positioning
        @include d.for-phone-only {
            margin-bottom: 5%;
        }

        //Tablet Portrait Sizing & Positioning
        @include d.for-tablet-portrait-up {
            margin-bottom: 5%;
        }

        //Tablet Landscape Sizing & Positioning
        @include d.for-tablet-landscape-up {
            margin-bottom: 5%;
        }

        //Desktop Sizing & Positioning
        @include d.for-desktop-up {
            margin-bottom: 5%;
        }
    }

    .who-section {
        //Mobile Sizing & Positioning
        @include d.for-phone-only {
            margin-bottom: 5%;
        }

        //Tablet Portrait Sizing & Positioning
        @include d.for-tablet-portrait-up {
            margin-bottom: 5%;
        }

        //Tablet Landscape Sizing & Positioning
        @include d.for-tablet-landscape-up {
            margin-bottom: 5%;
        }

        //Desktop Sizing & Positioning
        @include d.for-desktop-up {
            margin-bottom: 5%;
        }
    }
    
    
    .aboutClickables {
        border: none;
        text-decoration: none;
        color: v.$font-light;
        font-weight: 600;

        @include m.hover-underline(v.$font-light, 8%);
        transition: background-size ease 0.4s;

        //Mobile Sizing & Positioning
        @include d.for-phone-only {
            font-size: 1.05rem;
            margin: 0 0.5rem 0 0.5rem;
        }

        //Tablet Portrait Sizing & Positioning
        @include d.for-tablet-portrait-up {
            font-size: 1.6rem;
            margin: 0 0.75rem 0 0.75rem;
        }

        //Tablet Landscape Sizing & Positioning
        @include d.for-tablet-landscape-up {
            font-size: 1.5rem;
            margin: 0 1rem 0 1rem;
        }

        //Desktop Sizing & Positioning
        @include d.for-desktop-up {
            font-size: 1.5rem;
            margin: 0 1rem 0 1rem;
        }
    }


    .aboutSectionActive {
        background-size: 100% 8%;
    }

    .aboutLink {
        font-family: v.$fancy-font;
        color: v.$font-light;
        text-decoration: none;

        //Mobile Sizing & Positioning
        @include d.for-phone-only {
            font-size: 1.5rem;
        }

        //Tablet Portrait Sizing & Positioning
        @include d.for-tablet-portrait-up {
            font-size: 2rem;
        }

        //Tablet Landscape Sizing & Positioning
        @include d.for-tablet-landscape-up {
            font-size: 2.5rem;
        }

        //Desktop Sizing & Positioning
        @include d.for-desktop-up {
            font-size: 3rem;
        }

        @include m.hover-underline(v.$font-light, 8%);
        transition: background-size ease 0.4s;
    }

    #future-features-block {
        ol{
            li {
                //Mobile Sizing & Positioning
                @include d.for-phone-only {
                    margin-top: 10%;
                }

                //Tablet Portrait Sizing & Positioning
                @include d.for-tablet-portrait-up {
                    margin-top: 5%;
                }

                //Tablet Landscape Sizing & Positioning
                @include d.for-tablet-landscape-up {
                    margin-top: 5%;
                }

                //Desktop Sizing & Positioning
                @include d.for-desktop-up {
                    margin-top: 5%;
                }
            }
        }

        ul {
            li {
                //Mobile Sizing & Positioning
                @include d.for-phone-only {
                    margin-top: 10%;
                }

                //Tablet Portrait Sizing & Positioning
                @include d.for-tablet-portrait-up {
                    margin-top: 2.5%;
                }

                //Tablet Landscape Sizing & Positioning
                @include d.for-tablet-landscape-up {
                    margin-top: 2.5%;
                }

                //Desktop Sizing & Positioning
                @include d.for-desktop-up {
                    margin-top: 2.5%;
                }
            }
        }
    }

    //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Individual Element Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

    //Welcome Heading
    #welcome-heading {
        font-family: v.$home-page-branding;
        text-align: center;

        //Mobile Sizing & Positioning
        @include d.for-phone-only {
            font-size: 4rem;
            margin: 0 0 25% 0;
        }

        //Tablet Portrait Sizing & Positioning
        @include d.for-tablet-portrait-up {
            font-size: 5.5rem;
            margin: 0 0 12% 0;
        }
        
        //Tablet Landscape Sizing & Positioning
        @include d.for-tablet-landscape-up {
            font-size: 6rem;
            margin: 0 0 5% 0;
        }
    
        //Desktop Sizing & Positioning
        @include d.for-desktop-up {
            font-size: 6rem;
            margin: 0 0 5% 0;
        }
    }

    #noticeText {
        border-left: solid;
        border-width: 0.13rem;
        padding: 0.6rem;
        color: v.$font-light;
        font-weight: 900;

        //Mobile Sizing & Positioning
        @include d.for-phone-only {
            font-size: 0.9rem;
            line-height: 135%;
        }

        //Tablet Portrait Sizing & Positioning
        @include d.for-tablet-portrait-up {
            font-size: 0.9rem;
            line-height: 135%;
        }

        //Tablet Landscape Sizing & Positioning
        @include d.for-tablet-landscape-up {
            font-size: 0.9rem;
        }

        //Desktop Sizing & Positioning
        @include d.for-desktop-up {
            font-size: 0.9rem;
        }
    }

    #tomAmes {
        font-size: 1.15rem;
    }


}