//Imports
@use './../variables' as v;
@use './../mixins' as m;
@use './../device' as d;

//%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Container Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%
#about-shell {

    //Display Settings
    appearance: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    position: relative;

    width: 100%;

    background-image: url("../../../public/assets/backgrounds/about_page/about_background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    background-size: cover;
    background-color: rgb(6, 112, 252);

    z-index: 0;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {

    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {

    }

    //Tablet Landscape Sizing & Positioning
    @include d.for-tablet-landscape-up {
        padding-top: 18rem;
    }

    //Desktop Sizing & Positioning
    @include d.for-desktop-up {
        padding-top: 18rem;
    }

    //Large Desktop Sizing & Positioning
    @include d.for-big-desktop-up {
        padding-top: 18rem;
    }

    //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Major Component Wrappers Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

    #about-text-wrapper {
        // border: solid;
        // border-color: red;

        z-index: 2;

        //Mobile Sizing & Positioning
        @include d.for-phone-only {

        }

        //Tablet Portrait Sizing & Positioning
        @include d.for-tablet-portrait-up {

        }

        //Tablet Landscape Sizing & Positioning
        @include d.for-tablet-landscape-up {
            margin-bottom: 5rem;
        }

        //Desktop Sizing & Positioning
        @include d.for-desktop-up {
            margin-bottom: 5rem;
        }

        //Large Desktop Sizing & Positioning
        @include d.for-big-desktop-up {
            margin-bottom: 5rem;
        }
    }

    #about-people-wrapper {
        // border: solid;
        // border-color: orange;

        z-index: 2;

        //Mobile Sizing & Positioning
        @include d.for-phone-only {

        }

        //Tablet Portrait Sizing & Positioning
        @include d.for-tablet-portrait-up {

        }

        //Tablet Landscape Sizing & Positioning
        @include d.for-tablet-landscape-up {

        }

        //Desktop Sizing & Positioning
        @include d.for-desktop-up {

        }

        //Large Desktop Sizing & Positioning
        @include d.for-big-desktop-up {

        }
    }

    #about-wallpaper {
        // border: solid;
        // border-color: yellow;

        background-image: url("../../../public/assets/backgrounds/about_page/wallpaper.png");
        background-repeat: no-repeat;
        background-position: center;
        background-origin: content-box;
        background-size: cover;

        position: absolute;
        background-color: black;
        z-index: 1;
        width: 100%;

        //Mobile Sizing & Positioning
        @include d.for-phone-only {

        }

        //Tablet Portrait Sizing & Positioning
        @include d.for-tablet-portrait-up {

        }

        //Tablet Landscape Sizing & Positioning
        @include d.for-tablet-landscape-up {

        }

        //Desktop Sizing & Positioning
        @include d.for-desktop-up {

        }

        //Large Desktop Sizing & Positioning
        @include d.for-big-desktop-up {
            height: 60rem;
            top: 150vh;
        }
    }

    //@#@#@#@#@&%&%&%&%&%&%&%&%&%&@#@#@#@#@ Person Blocks @#@#@#@#@&%&%&%&%&%&%&%&%&%&@#@#@#@#@

    #about-tom {
        background: #B4FFF1;
    }

    #about-chris {
        background: #D7FFB7;
    }

    #about-amelia {
        background: #D4D9FF;
    }

    //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Class Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%
 
    //Person's Card Wrapper
    .about-person {
        height: 52vh;
        width: 85vw;

        // border: solid;
        // border-color: blueviolet;
        border-radius: 5rem;

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        //Mobile Sizing & Positioning
        @include d.for-phone-only {

        }

        //Tablet Portrait Sizing & Positioning
        @include d.for-tablet-portrait-up {

        }

        //Tablet Landscape Sizing & Positioning
        @include d.for-tablet-landscape-up {
            margin-top: 5rem;
            margin-bottom: 5rem;
        }

        //Desktop Sizing & Positioning
        @include d.for-desktop-up {
            margin-top: 5rem;
            margin-bottom: 5rem;
        }

        //Large Desktop Sizing & Positioning
        @include d.for-big-desktop-up {
            margin-bottom: 15rem;
        }
    }

    //Person's Image
    .about-person-image {
        // border: solid;
        // border-color: pink;
        border-radius: 5rem;

        //Mobile Sizing & Positioning
        @include d.for-phone-only {

        }

        //Tablet Portrait Sizing & Positioning
        @include d.for-tablet-portrait-up {

        }

        //Tablet Landscape Sizing & Positioning
        @include d.for-tablet-landscape-up {

        }

        //Desktop Sizing & Positioning
        @include d.for-desktop-up {

        }

        //Large Desktop Sizing & Positioning
        @include d.for-big-desktop-up {
            height: 20vw;
            width:  15vw;
        }
    }

    //Person's Text Bubble and Links Wrapper
    .about-person-contents {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        // border: none;
        // border-color: violet;
        border-radius: 5rem;

        background-color: white !important;

        //Mobile Sizing & Positioning
        @include d.for-phone-only {

        }

        //Tablet Portrait Sizing & Positioning
        @include d.for-tablet-portrait-up {

        }

        //Tablet Landscape Sizing & Positioning
        @include d.for-tablet-landscape-up {
            padding: 1rem
        }

        //Desktop Sizing & Positioning
        @include d.for-desktop-up {
            padding: 1rem
        }

        //Large Desktop Sizing & Positioning
        @include d.for-big-desktop-up {
            width: 40vw;
            height: 20vw;
            padding: 1rem
        }
    }

    //Person's Description
    .about-person-description {

        // border: solid;
        // border-color: magenta;

        font-family: v.$font-four;
        text-align: left;
        overflow-y: auto;
        width: 90%;

        //Mobile Sizing & Positioning
        @include d.for-phone-only {

        }

        //Tablet Portrait Sizing & Positioning
        @include d.for-tablet-portrait-up {

        }

        //Tablet Landscape Sizing & Positioning
        @include d.for-tablet-landscape-up {

        }

        //Desktop Sizing & Positioning
        @include d.for-desktop-up {

        }

        //Large Desktop Sizing & Positioning
        @include d.for-big-desktop-up {
            font-size: 3rem;
            max-height: 80%;
        }
    }

    //Person's Links
    .about-person-all-links {
        // border: solid;
        // border-color: skyblue;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        font-family: v.$font-four;
        width: 90%;

        //Mobile Sizing & Positioning
        @include d.for-phone-only {

        }

        //Tablet Portrait Sizing & Positioning
        @include d.for-tablet-portrait-up {

        }

        //Tablet Landscape Sizing & Positioning
        @include d.for-tablet-landscape-up {

        }

        //Desktop Sizing & Positioning
        @include d.for-desktop-up {

        }

        //Large Desktop Sizing & Positioning
        @include d.for-big-desktop-up {
            font-size: 1.5rem;
        }
    }

    //Links
    a {
        text-decoration: none;
    }

    //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Individual Element Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

    //@#@#@#@#@&%&%&%&%&%&%&%&%&%&@#@#@#@#@ Text At Top @#@#@#@#@&%&%&%&%&%&%&%&%&%&@#@#@#@#@

    #about-text-title {
        font-family: v.$font-four;
        color: v.$pallette_two;


        //Mobile Sizing & Positioning
        @include d.for-phone-only {

        }

        //Tablet Portrait Sizing & Positioning
        @include d.for-tablet-portrait-up {

        }

        //Tablet Landscape Sizing & Positioning
        @include d.for-tablet-landscape-up {

        }

        //Desktop Sizing & Positioning
        @include d.for-desktop-up {

        }

        //Large Desktop Sizing & Positioning
        @include d.for-big-desktop-up {
            font-size: 6rem;
        }
    }

    #about-text-description {
        font-family: v.$font-two;
        color: v.$pallette_two;

        //Mobile Sizing & Positioning
        @include d.for-phone-only {

        }

        //Tablet Portrait Sizing & Positioning
        @include d.for-tablet-portrait-up {

        }

        //Tablet Landscape Sizing & Positioning
        @include d.for-tablet-landscape-up {

        }

        //Desktop Sizing & Positioning
        @include d.for-desktop-up {

        }

        //Large Desktop Sizing & Positioning
        @include d.for-big-desktop-up {
            font-size: 5rem;
        }
    }

    //@#@#@#@#@&%&%&%&%&%&%&%&%&%&@#@#@#@#@ Person Specific Image Divs @#@#@#@#@&%&%&%&%&%&%&%&%&%&@#@#@#@#@


    #tom-image {

    }

    #chris-image {

    }

    #amelia-image {

    }

}