//Imports
@use './../variables' as v;
@use './../mixins' as m;
@use './../device' as d;

//%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Container Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%
#create-shell {

  display: flex;
  flex-direction: column;
  align-items: center;

  height: fit-content;
  width: 100vw;
  
  background: linear-gradient(180deg, hsla(217, 52%, 51%, 1) 0%, hsla(187, 47%, 52%, 1) 25%, hsla(0, 0%, 100%, 1) 58%);

  //Mobile Sizing
  @include d.for-phone-only {

  }

  //Tablet Portrait Sizing & Positioning
  @include d.for-tablet-portrait-up {

  }

  //Tablet Landscape Sizing & Positioning
  @include d.for-tablet-landscape-up {

  }

  //Desktop Sizing
  @include d.for-desktop-up {

  }

  //Large Desktop Sizing & Positioning
  @include d.for-big-desktop-up {

  }

  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Major Component Wrappers Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  form {
    width: 100%;
    height: fit-content;
  }

  //Top Section
  #create-section-top {
    border: solid;
    border-color: red;

    width: 100%;
    height: 35rem;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {

    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {

    }

    //Tablet Landscape Sizing & Positioning
    @include d.for-tablet-landscape-up {

    }

    //Desktop Sizing & Positioning
    @include d.for-desktop-up {

    }

    //Large Desktop Sizing & Positioning
    @include d.for-big-desktop-up {

    }
  }

  //Middle Section
  #create-section-middle {
    border: solid;
    border-color: orange;

    width: 100%;
    height: 35rem;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {

    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {

    }

    //Tablet Landscape Sizing & Positioning
    @include d.for-tablet-landscape-up {

    }

    //Desktop Sizing & Positioning
    @include d.for-desktop-up {

    }

    //Large Desktop Sizing & Positioning
    @include d.for-big-desktop-up {

    }
  }

  //Bottom Section
  #create-section-bottom {
    border: solid;
    border-color: gold;

    width: 100%;
    height: 35rem;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {

    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {

    }

    //Tablet Landscape Sizing & Positioning
    @include d.for-tablet-landscape-up {

    }

    //Desktop Sizing & Positioning
    @include d.for-desktop-up {

    }

    //Large Desktop Sizing & Positioning
    @include d.for-big-desktop-up {

    }
  }
  
  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Class Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%


  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Individual Element Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  
}

