//Imports
@use './../variables' as v;
@use './../mixins' as m;
@use './../device' as d;

//%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Container Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%
#create-shell {

  display: flex;
  flex-direction: column;
  align-items: center;

  height: fit-content;
  width: 100vw;
  
  background: linear-gradient(180deg, hsla(217, 52%, 51%, 1) 0%, hsla(187, 47%, 52%, 1) 25%, hsla(0, 0%, 100%, 1) 58%);
  padding-top: 12rem;

  //Mobile Sizing
  @include d.for-phone-only {

  }

  //Tablet Portrait Sizing & Positioning
  @include d.for-tablet-portrait-up {

  }

  //Tablet Landscape Sizing & Positioning
  @include d.for-tablet-landscape-up {

  }

  //Desktop Sizing
  @include d.for-desktop-up {

  }

  //Large Desktop Sizing & Positioning
  @include d.for-big-desktop-up {

  }

  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Major Component Wrappers Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  //Form Wrapper
  form {
    width: 100%;
    height: fit-content;
  }

  //@#@#@#@#@&%&%&%&%&%&%&%&%&%&@#@#@#@#@ Top Section Wrapper & Children Wrappers @#@#@#@#@&%&%&%&%&%&%&%&%&%&@#@#@#@#@

  //Top Section
  #create-section-top {
    border: solid;
    border-color: red;

    width: 100%;
    height: 35rem;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {

    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {

    }

    //Tablet Landscape Sizing & Positioning
    @include d.for-tablet-landscape-up {

    }

    //Desktop Sizing & Positioning
    @include d.for-desktop-up {

    }

    //Large Desktop Sizing & Positioning
    @include d.for-big-desktop-up {

    }
  }

  #create-section-top-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  #create-section-top-right {
    
  }

  //@#@#@#@#@&%&%&%&%&%&%&%&%&%&@#@#@#@#@ Middle Section Wrapper @#@#@#@#@&%&%&%&%&%&%&%&%&%&@#@#@#@#@

  //Middle Section
  #create-section-middle {
    border: solid;
    border-color: orange;

    width: 100%;
    height: 35rem;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {

    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {

    }

    //Tablet Landscape Sizing & Positioning
    @include d.for-tablet-landscape-up {

    }

    //Desktop Sizing & Positioning
    @include d.for-desktop-up {

    }

    //Large Desktop Sizing & Positioning
    @include d.for-big-desktop-up {

    }
  }

  //@#@#@#@#@&%&%&%&%&%&%&%&%&%&@#@#@#@#@ Bottom Section Wrapper and Children Wrappers @#@#@#@#@&%&%&%&%&%&%&%&%&%&@#@#@#@#@

  //Bottom Section
  #create-section-bottom {
    border: solid;
    border-color: gold;

    width: 100%;
    height: 35rem;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {

    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {

    }

    //Tablet Landscape Sizing & Positioning
    @include d.for-tablet-landscape-up {

    }

    //Desktop Sizing & Positioning
    @include d.for-desktop-up {

    }

    //Large Desktop Sizing & Positioning
    @include d.for-big-desktop-up {

    }
  }

  #create-section-bottom-left {

  }

  #create-section-bottom-right {

  }
  
  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Class Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  .create-time-select-button {
    background-color: #E9ECFF;
    font-family: v.$font-two;

    height: 4vw;
    width: 5.5vw;

    border-radius: 0.3vw;
    border: none;

    &:hover {
      background-color: #d0d1d6;
    }
  }


  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Individual Element Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  
}

