//Imports
@use './../variables' as v;
@import './../layout';

//Container Element
div.page-footer {

  //Size and Position
  position: fixed;
  bottom: 0;
  width: 100%;

  //Flexbox for contents
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  //Apply to Children
  font-size: 0.6rem;
  color: v.$footer-text;
  background-color: v.$footer-background;

  /* ------------------------------------- Child Elements ------------------------------------- */

  #footer-left-side {
    margin: 0 0 0 0.8rem;
  }

  #footer-right-side {
    margin: 0 0.8rem 0 0;
  }

  .footerLink {
    text-decoration: none;
    color: v.$footer-text;
    font-weight: normal;
    &:hover {
      transition: ease 0.2s;
      font-weight: bolder;
    }
  }

}