//Imports
@use './../variables' as v;
@import '../device_layout/layout';

//Google Font Import
// @import url('https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Cherry+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

#home-shell {

  //Display Settings
  appearance: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  margin: 0 auto;
  
  /* ------------------------------------- Child Elements ------------------------------------- */

  //Kick-It Branding
  h2{
    position: relative;
    grid-row-start: 3;
    grid-row-end: 6;

    font-family: 'Dancing Script', cursive;
    // font-family: 'Sonsie One', cursive;
    // font-family: 'Cherry Swash', cursive;
    color: v.$font-light;
    font-weight: 50;
    font-size: 4rem;
  }

  //Search Bar
  input {
    appearance: none;
    border: none;
    color:v.$font-heavy;
    background: v.$background-light;
    border-radius: 5px;
    font-size: 0.5rem;

    width: 40vw;
    height: 8vh;
    font-size: 1.5rem;

    outline: none;

    &::placeholder{
      color: v.$font-heavy;
      padding: 0 0 0 0.3rem;
      transition: color 0.3s ease;
    }

    &:focus::placeholder {
      color:v.$invisible;
    }
  }
}