//Imports
@use './../variables' as v;
@use './../mixins' as m;
@use './../device' as d;

//%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Container Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%
#navbar-shell {

  //Display Settings
  position: absolute;
  padding: 0;

  //Mobile Sizing
  @include d.for-phone-only {

  }

  //Tablet Portrait Sizing & Positioning
  @include d.for-tablet-portrait-up {

  }

  //Tablet Landscape Sizing & Positioning
  @include d.for-tablet-landscape-up {

  }

  //Desktop Sizing
  @include d.for-desktop-up {
    top: 3rem;
    left: 15vw;
    right: 15vw;
    height: 5rem;

    border-radius: 3rem;
  }

  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Major Component Wrappers Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  // %&%&%&%&%&% Navbar Motion Wrapper Side of Nav Bar %&%&%&%&%&%
  #navbar-motion-wrapper {
    position: relative;
    background-color: rgba(237, 237, 237, 0.89);
    border: none;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 5;

    width: 100%;
    height: 100%;

    //Mobile Sizing
    @include d.for-phone-only {

    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {

    }

    //Tablet Landscape Sizing & Positioning
    @include d.for-tablet-landscape-up {

    }

    //Desktop Sizing
    @include d.for-desktop-up {
      border-radius: 3rem;
    }
  }


  // %&%&%&%&%&% Left Side of Nav Bar %&%&%&%&%&%
  div#navLeft {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    //Mobile Sizing
    @include d.for-phone-only {
      height: 100%;
      width: 20%;
      margin-left: 1rem;
      padding: none;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      height: 100%;
      width: 20%;
      margin-left: 0.75rem;
    }

    //Tablet Landscape Sizing & Positioning
    @include d.for-tablet-landscape-up {
      height: 100%;
      width: 15%;
      margin-left: 0.75rem;
    }

    //Desktop Sizing
    @include d.for-desktop-up {
      height: 100%;
      width: 15%;
      margin-left: 0.75rem;
    }
  }

  // %&%&%&%&%&% Right Side of Nav Bar %&%&%&%&%&%
  div#navRight {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    //Mobile Sizing
    @include d.for-phone-only {
      height: 100%;
      width: 70%;
      margin-right: 1.75rem;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      height: 100%;
      width: 60%;
      margin-right: 0.75rem;
    }

    //Tablet Landscape Sizing & Positioning
    @include d.for-tablet-landscape-up {
      height: 100%;
      width: 43%;
      margin-right: 0.75rem;
    }

    //Desktop Sizing
    @include d.for-desktop-up {
      height: 100%;
      width: 40%;
      margin-right: 0.75rem;
    }
  }


  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Class Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  //Styles for all Nav Items
  .navItem {

    //Coloring
    color: v.$pallette_three;
    font-family: v.$font-primary;
    background: none;

    //No Styles
    border-style: none;
    text-decoration: none;


    //Mobile Sizing
    @include d.for-phone-only {
      font-size: 1.2rem;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      font-size: 2.5rem;
    }

    //Tablet Landscape Sizing & Positioning
    @include d.for-tablet-landscape-up {
      font-size: 2.5rem;
    }

    //Desktop Sizing
    @include d.for-desktop-up {
      font-size: 1.2rem;
      padding: 0.5rem 1.5rem 0.3rem 1.5rem;
      border-radius: 5rem;
    }
  }

  // //Hover Underline Effect
  // .hoverEffect {
  //   //Hover Mixin & Transition
  //   @include m.hover-underline(v.$font-light, 8%);
  //   transition: background-size ease 0.4s;
  // }

  // .navOnPage {
  //   background-size: 100% 8%;
  // }

  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Individual Element Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  #navbarHomeButton {

    display: inline-block;
    font-family: v.$home-page-branding;
    font-style: normal;
    letter-spacing: 0.08em;

    background: linear-gradient(90deg, #4DDABB 0%, #3D4BC6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #014D59;
    // border: 1.75723px solid #014D59;

    //Mobile Sizing
    @include d.for-phone-only {
      font-size: 3rem;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      font-size: 4rem;
    }

    //Tablet Landscape Sizing & Positioning
    @include d.for-tablet-landscape-up {
      font-size: 4rem;
    }

    //Desktop Sizing
    @include d.for-desktop-up {
      font-weight: 900;
      font-size: 36px;
    }
  }

  #navbarCreate {
    //Coloring
    color: v.$pallette_two;
    font-family: v.$font-primary;
    background-color: v.$pallette_one;

    //No Styles
    border-style: none;
    text-decoration: none;

    //Mobile Sizing
    @include d.for-phone-only {
      font-size: 1.2rem;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      font-size: 2.5rem;
    }

    //Tablet Landscape Sizing & Positioning
    @include d.for-tablet-landscape-up {
      font-size: 2.5rem;
      border-radius: 5rem;
    }

    //Desktop Sizing
    @include d.for-desktop-up {
      font-weight: 400;
      font-size: 1.3rem;
      padding: 0.3rem 1.8rem 0.3rem 1.8rem;
      border-radius: 5rem;
    }
  }
}