//Imports
@use './../variables' as v;
@import './../layout';

//Container Element
nav {

  //Display Settings
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  //General Font Settings
  font-weight: bold;
  text-decoration: none;

  //Coloring
  background-color: v.$navbar-background;
  color: v.$navbar-text;

  /* ------------------------------------- Child Elements ------------------------------------- */

  //Create Event Button
  button{
    background-color: v.$invisible;
    border-style: solid;
    border-radius: 5px;
    border-width: 0.1rem;
    border-color: v.$navbar-text;
    font-size: 1.5rem;
  }

  div#navRight {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 0 80%
  }

  div#loginBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 0 1rem;
  }

  .navItem {
    text-decoration-line: none;
    color: v.$navbar-text;
    &:hover, touch {
      transition: ease 0.2s;
      font-weight: bolder;
      border-width: 0.140rem;
    }
  }
}