//Imports
@use './../variables' as v;
@use './../mixins' as m;
@use './../device' as d;


//%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Container Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%
#peek-wrapper {

  //Display Settings
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-size: 1rem;

  //Mobile Sizing & Positioning
  @include d.for-phone-only {

  }

  //Tablet Portrait Sizing & Positioning
  @include d.for-tablet-portrait-up {

  }

  //Tablet Landscape Sizing & Positioning
  @include d.for-tablet-landscape-up {

  }

  //Desktop Sizing & Positioning
  @include d.for-desktop-up {
    width: 100%;
    height: 50rem;
  }

  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Major Component Wrappers Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%
  
  // ------------------ Left Side Wrapper ------------------
  #peek-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    border: solid;
    border-color: v.$font-ghost;
    border-radius: 1rem;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {

    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {

    }

    //Tablet Landscape Sizing & Positioning
    @include d.for-tablet-landscape-up {

    }

    //Desktop Sizing & Positioning
    @include d.for-desktop-up {
      width: 30%;
      height: 100%;

      h2 {
        font-size: 2rem;
        margin-top: 30%;
        margin-bottom: 10%;
      }
    }

    h2 {
      width: 100%;
      text-align: center;
    }
  }

  // ------------------ Mode Selection ------------------
  #peek-modes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
    text-align: center;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {

    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {

    }

    //Tablet Landscape Sizing & Positioning
    @include d.for-tablet-landscape-up {

    }

    //Desktop Sizing & Positioning
    @include d.for-desktop-up {
      margin-bottom: 15%;

      button {
        font-size: 1.5rem;
      }
    }
  }

  // ------------------ People List ------------------
  #peek-list {

    //Mobile Sizing & Positioning
    @include d.for-phone-only {

    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {

    }

    //Tablet Landscape Sizing & Positioning
    @include d.for-tablet-landscape-up {

    }

    //Desktop Sizing & Positioning
    @include d.for-desktop-up {
      width: 50%;
      height: 60%;
      margin-right: 25%;
      margin-left: 25%;

      overflow-x: hidden;

      li {
        width: fit-content;
        margin: 3%;
      }
    }

    ul {
      width: 100%;
      text-align: left;
    }
  }

  // ------------------ Right side Wrapper ------------------
  #peek-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {

    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {

    }

    //Tablet Landscape Sizing & Positioning
    @include d.for-tablet-landscape-up {

    }

    //Desktop Sizing & Positioning
    @include d.for-desktop-up {
      width: 70%;
      height: 100%;
    }
  }

  // ------------------ Block Index ------------------
  #peek-block-index {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {

    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {

    }

    //Tablet Landscape Sizing & Positioning
    @include d.for-tablet-landscape-up {

    }

    //Desktop Sizing & Positioning
    @include d.for-desktop-up {
      width: 90%;
      margin: 5% 5% 0% 5%;
      height: 5%;
    }
  }

  // ------------------ Current Block (including page buttons) ------------------
  #peek-current-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {

    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {

    }

    //Tablet Landscape Sizing & Positioning
    @include d.for-tablet-landscape-up {

    }

    //Desktop Sizing & Positioning
    @include d.for-desktop-up {
      margin: 5%;
      width: 90%;
      height: 80%;
    }
  }

  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Class Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  //Buttons responsible for switching modes for Peek
  .mode-button {
    background: none;
    border: none;
    color: v.$font-light;

    @include m.hover-underline(v.$font-light, 8%);
    transition: background-size ease 0.4s;
  }

  .mode-active {
    background-size: 100% 8%;
  }
  // ---------------------------------------------------------

  //People Listed in All Attending Mode ----
  .peek-list-person {
    background: none;
    border: none;
    color: v.$font-light;

    @include m.hover-underline();
    transition: background-size ease 0.4s;
  }

  .limit-active {
    background-size: 100% 8%;
  }
  // ---------------------------------------------------------

  //Carousel Like Indicators at the top of the grid ----
  .block-index-indicator {
    width: 2.5rem;
    height: 1rem;
    border-radius: 10px;
    background-color: v.$font-light;
  }

  .index-active {
    background-color: v.$font-heavy;
  }
  // ---------------------------------------------------------

  //Carousel Prev and Next Buttons at the top of the grid ----
  .index-button {
    border: none;
    color: v.$font-light;
    font-size: 2.5rem;
    border-radius: 3px;
    background-color: v.$invisible;
    transition: color 0.4s ease;

    &:hover {
      color: v.$font-light;
    }
  }
  // ---------------------------------------------------------

  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Individual Element Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%
}