//Imports
@use './../variables' as v;
@use './../mixins' as m;
@use './../device' as d;


//%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Container Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%
#peek-wrapper {

  //Display Settings
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-size: 1rem;

  width: 100%;
  height: 100%;

  // border:solid;
  // border-color: red;

  //Mobile Sizing & Positioning
  @include d.for-phone-only {
    flex-direction: column;
  }

  //Tablet Portrait Sizing & Positioning
  @include d.for-tablet-portrait-up {
    flex-direction: column;
  }

  //Tablet Landscape Sizing & Positioning
  @include d.for-tablet-landscape-up {
    flex-direction: row;
    height: 40rem;
    padding-top: 10%;
    padding-bottom: 10%;
  }

  //Desktop Sizing & Positioning
  @include d.for-desktop-up {
    flex-direction: row;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Major Component Wrappers Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%
  
  // ------------------ Left Side Wrapper ------------------
  #peek-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    border: solid;
    border-color: v.$font-ghost;
    border-radius: 1rem;
    height: 100%;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      width: 100%;
      margin-top: 15%;
      height: fit-content;
      max-height: 30rem;

      h2 {
        font-size: 2rem;
        margin-top: 5%;
      }
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      width: 65%;
      margin-top: 8%;
      height: fit-content;
      max-height: 30rem;

      h2 {
        font-size: 2rem;
        margin-top: 5%;
      }
    }

    //Tablet Landscape Sizing & Positioning
    @include d.for-tablet-landscape-up {
      width: 40%;

      h2 {
        font-size: 2rem;
        margin-top: 10%;
        margin-bottom: 10%;
      }
    }

    //Desktop Sizing & Positioning
    @include d.for-desktop-up {
      width: 30%;
      height: 100%;

      h2 {
        font-size: 2rem;
        margin-top: 30%;
        margin-bottom: 10%;
      }
    }

    h2 {
      width: 100%;
      text-align: center;
    }
  }

  // ------------------ Mode Selection ------------------
  #peek-modes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
    text-align: center;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      margin-bottom: 4%;

      button {
        font-size: 1.5rem;
      }
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      margin-bottom: 4%;

      button {
        font-size: 1.5rem;
      }
    }

    //Tablet Landscape Sizing & Positioning
    @include d.for-tablet-landscape-up {
      margin-bottom: 10%;

      button {
        font-size: 1.5rem;
      }
    }

    //Desktop Sizing & Positioning
    @include d.for-desktop-up {
      margin-bottom: 15%;

      button {
        font-size: 1.5rem;
      }
    }
  }

  // ------------------ People List ------------------
  #peek-list {
    overflow-y: auto;
    overflow-x: hidden;

    border-top: solid;
    border-bottom: solid;
    border-color: v.$font-light;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      width: 80%;
      height: fit-content;
      max-height: 15rem;
      margin-bottom: 1rem;
      
      li {
        width: fit-content;
        margin: 3% auto 0 auto;
      }

      ul {
        width: 100%;
        padding-left: 0;
      }
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      width: 60%;
      height: fit-content;
      max-height: 30%;
      margin-bottom: 8%;

      li {
        width: fit-content;
        margin: 3% auto 0 auto;
      }

      ul {
        width: 100%;
        padding-left: 0;
      }
    }

    //Tablet Landscape Sizing & Positioning
    @include d.for-tablet-landscape-up {
      width: 65%;
      height: fit-content;
      max-height: 60%;
      margin-bottom: 8%;

      li {
        width: fit-content;
        margin: 3% auto 0 auto;
      }

      ul {
        width: 100%;
        padding-left: 0;
      }
    }

    //Desktop Sizing & Positioning
    @include d.for-desktop-up {
      width: 60%;
      height: fit-content;
      max-height: 50%;
      margin-right: 25%;
      margin-left: 25%;

      li {
        width: fit-content;
        margin: 3% auto 0 auto;
      }
    }

    ul {
      width: 100%;
      text-align: center;
      padding-left: 0;
    }
  }

  // ------------------ Right side Wrapper ------------------
  #peek-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    // border: solid;
    // border-color: v.$font-ghost;
    // border-color: green;
    // border-radius: 10px;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      width: 100%;
      margin-top: 5%;
      margin-bottom: 10%;
      height: 60rem;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      width: 85%;
      margin-top: 5%;
      margin-bottom: 10%;
      height: 60rem;
    }

    //Tablet Landscape Sizing & Positioning
    @include d.for-tablet-landscape-up {
      width: 60%;
      height: 100%;
    }

    //Desktop Sizing & Positioning
    @include d.for-desktop-up {
      width: 70%;
      height: 100%;
      padding-bottom: 0;
    }
  }

  // ------------------ Block Index ------------------
  #peek-block-index {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      width: 100%;
      margin: 5% 5% 0% 5%;
      height: 5%;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      width: 100%;
      margin: 5% 5% 0% 5%;
      height: 5%;
    }

    //Tablet Landscape Sizing & Positioning
    @include d.for-tablet-landscape-up {
      width: 90%;
      margin: 5% 5% 0% 5%;
      height: 5%;
    }

    //Desktop Sizing & Positioning
    @include d.for-desktop-up {
      width: 90%;
      margin: 5% 5% 0% 5%;
      height: 5%;
    }
  }

  // ------------------ Current Block (including page buttons) ------------------
  #peek-current-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      margin: 5%;
      width: 90%;
      height: 90%;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      margin: 5%;
      width: 120%;
      height: 80%;
    }

    //Tablet Landscape Sizing & Positioning
    @include d.for-tablet-landscape-up {
      margin: 5% 2.5% 0% 2.5%;
      width: 95%;
      height: 86.5%;
    }

    //Desktop Sizing & Positioning
    @include d.for-desktop-up {
      margin-top: 5%;
      width: 90%;
      height: 81.5%;
    }
  }

  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Class Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  //Buttons responsible for switching modes for Peek
  .mode-button {
    background: none;
    border: none;
    color: v.$font-light;

    @include m.hover-underline(v.$font-light, 8%);
    transition: background-size ease 0.4s;
  }

  .mode-active {
    background-size: 100% 8%;
  }
  // ---------------------------------------------------------

  //People Listed in All Attending Mode ----
  .peek-list-person {
    background: none;
    border: none;
    color: v.$font-light;

    @include m.hover-underline();
    transition: background-size ease 0.4s;
  }

  .limit-active {
    background-size: 100% 8%;
  }
  // ---------------------------------------------------------

  //Carousel Like Indicators at the top of the grid ----
  .block-index-indicator {
    background-color: v.$font-light;
    
    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      width: 1rem;
      height: 1rem;
      border-radius: 10px;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 25px;
    }

    //Tablet Landscape Sizing & Positioning
    @include d.for-tablet-landscape-up {

    }

    //Desktop Sizing & Positioning
    @include d.for-desktop-up {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50px;
    }
  }

  .index-active {
    background-color: v.$font-heavy;
  }
  // ---------------------------------------------------------

  //Carousel Prev and Next Buttons at the top of the grid ----
  .index-button {
    border: none;
    color: v.$font-light;
    font-size: 2.5rem;
    border-radius: 3px;
    background-color: v.$invisible;
    transition: color 0.4s ease;

    &:hover {
      color: v.$font-light;
    }

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      font-size: 3.5rem;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      font-size: 3.5rem;
    }

    //Tablet Landscape Sizing & Positioning
    @include d.for-tablet-landscape-up {

    }

    //Desktop Sizing & Positioning
    @include d.for-desktop-up {

    }
  }
  // ---------------------------------------------------------

  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Individual Element Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%
}