//Imports
@use './../variables' as v;
@use './../mixins' as m;
@use './../device' as d;


#share-wrapper {
  appearance: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin: auto;

  /* ------------------------------------- Child Elements - Event Loading ------------------------------------- */

  #loading {
    margin: 0 auto;
  }

  /* ------------------------------------- Child Elements - Event Loaded ------------------------------------- */

  #share-main {
    //Display Settings
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    margin: auto;

    color: v.$font-light;
    font-size: 1rem;
    z-index: 0;
  }


  #share-left {
    max-width: 40vw;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;
  }

  #share-right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .share-button {
    margin: 1.1rem 0 1.1rem 1.5rem;
    width: 5rem;
    height: 2.2rem;
    @include m.button-light;
  }

  /* ------------------------------------- &&&&&&&&&&&&&&&&&&&& ------------------------------------- */
}