//Imports
@use './../variables' as v;
@use './../mixins' as m;
@use './../device' as d;


//%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Container Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%
#share-wrapper {
  appearance: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin: auto;

  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Major Component Wrappers Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  #share-main {
    //Display Settings
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    margin: auto;

    color: v.$font-light;
    font-size: 1rem;
    z-index: 0;
  }


  #share-event {
    max-width: 40vw;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;
  }

  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Class Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%


  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Individual Element Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%
}