//Imports
@use './../variables' as v;
@use './../mixins' as m;
@use './../device' as d;


//%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Container Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%
#share-wrapper {
  appearance: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: visible;

  //Mobile Sizing & Positioning
  @include d.for-phone-only {
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
  }

  //Tablet Portrait Sizing & Positioning
  @include d.for-tablet-portrait-up {
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
  }

  //Tablet Landscape Sizing & Positioning
  @include d.for-tablet-landscape-up {
    width: 90vw;
    height: 60vh;
    margin-left: 5vw;
    margin-right: 5vw;
  }

  //Desktop Sizing & Positioning
  @include d.for-desktop-up {
    width: 85vw;
    height: 80vh;
    margin-left: 7.5vw;
    margin-right: 7.5vw;
  }

  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Major Component Wrappers Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  // ------------------ Event Details ------------------
  #share-event {
    //Display Settings
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    width: 100%;

    color: v.$font-light;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      h1 {
        font-size: 2.5rem;
        margin-top: 10%;
      }

      h4 {
        text-align: center;
        font-size: 1.5rem;
        margin-top: 5%;
      }

      p {
        min-height: 10rem;
        max-height: 20rem;
        width: 100%;
        padding: 0.5rem;
        font-size: 1.3rem;
      }
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      h1 {
        font-size: 3.5rem;
        margin-top: 10%;
      }

      h4 {
        text-align: center;
        font-size: 2rem;
        margin-top: 5%;
      }

      p {
        min-height: 10rem;
        max-height: 25rem;
        width: 100%;
        padding: 0.5rem;
        font-size: 1.3rem;
      }
    }

    //Tablet Landscape Sizing & Positioning
    @include d.for-tablet-landscape-up {
      h1 {
        font-size: 3.5rem;
        margin-top: 10%;
      }

      h4 {
        text-align: center;
        font-size: 2rem;
        margin-top: 5%;
      }

      p {
        min-height: 10rem;
        max-height: 25rem;
        width: 100%;
        padding: 0.5rem;
        font-size: 1.3rem;
      }
    }

    //Desktop Sizing & Positioning
    @include d.for-desktop-up {
      // margin-top: 5%;

      h1 {
        font-size: 3.5rem;
        margin-bottom: 0;
      }

      h4 {
        text-align: center;
        font-size: 1.5rem;
        margin-top: 4%;
      }

      p {
        min-height: 10rem;
        max-height: 15rem;
        width: 60%;
        font-size: 1.3rem;
      }
    }

    h1 {
      text-align: center;
      font-family: v.$font-two;
    }

    h4 {
      text-align: center;
      font-family: v.$font-two;
    }

    p {
      text-align: center;
      font-family: v.$font-two;
      margin: auto;
      overflow-y: auto;
    }
  }

  // ------------------ Action Toggling Buttons ------------------
  #share-select{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      width: 100%;
      margin: auto;
      margin-top: 10%;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      width: 100%;
      margin: auto;
      margin-top: 0%;
    }

    //Tablet Landscape Sizing & Positioning
    @include d.for-tablet-landscape-up {
      width: 100%;
      margin: auto;
      margin-top: 2%;
    }

    //Desktop Sizing & Positioning
    @include d.for-desktop-up {
      width: 50%;
      margin: auto;
      margin-top: 2%;
    }
  }

  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Class Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  .share-action-button {
    background: none;
    border: none;
    color: v.$font-light;
    font-family: v.$font-three;

    @include m.hover-underline(v.$font-light, 8%);
    transition: background-size ease 0.4s;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      font-size: 1.5rem;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      font-size: 2rem;
    }

    //Tablet Landscape Sizing & Positioning
    @include d.for-tablet-landscape-up {
      font-size: 2.5rem;
    }

    //Desktop Sizing & Positioning
    @include d.for-desktop-up {
      font-size: 2rem;
    }
  }

  .active-action {
    background-size: 100% 8% !important;
  }

  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Individual Element Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%
}