//Imports
@use './../variables' as v;
@import '../device_layout/layout';

#view-event-shell {

  //Display Settings
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1rem;
  z-index: 5;

  /* ------------------------------------- Child Elements - Event Loading ------------------------------------- */

    #loading{
      margin: 0 auto;
    }

  /* ------------------------------------- Child Elements - Event Loaded ------------------------------------- */
  .eventDetail {
    color: white;
    padding: 0 0.5rem;
  } 

  button {
    border: none;
    appearance: none;
    background-color:v.$ve-button-background;
    border-radius: 5px;

    .buttonLink {
      text-decoration: none;
      color: v.$ve-button-color;
    }
  }

  .unbutton {
    border: none;
    appearance: none;
    background: none;
  }
  /* ------------------------------------- Details Page ------------------------------------- */

  #details-main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  #details-left {
    max-width: 40vw;
  }

  #details-right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .details-button {
    margin: 1.1rem 0 1.1rem 1.5rem;
    width: 5rem;
    height: 2.2rem;
    color: white;
    border: solid;
    border-radius: 5px;
    border-width: 0.05rem;
    border-color: v.$invisible;

    &:hover {
      transition: border-color 0.5s ease;
      border-color: white;
    }
  }

  /* ------------------------------------- Attendance Page ------------------------------------- */

  #attendance-main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  // %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% Side-bar %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
  #attendance-left {
    //Position
    position: absolute;
    left: 0;
    top: 0;
    min-width: 25vw;
    max-width: 25vw;
    height: 100vh;
    z-index: 1;

    //Arrange Items Within
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;

    color: black;
    background-image: linear-gradient(135deg, #EECE13 10%, #f2a452 100%);

    //Border
    border-right: solid;
    border-width: 0.4rem;
    border-color: #f2f2f257;
    border-radius: 4px;

    /* %%%%%%%%%%%% Children %%%%%%%%%%%% */

    // @@@@@@@@@@@@@ Mode Toggle Widget @@@@@@@@@@@@@
    #attendance-modes {
      position: absolute;
      top: 3vh;

      //Button to toggle on All Attending
      #all-attending-button {
        margin-right: 1rem;
        position: relative;
        bottom: 55%;
        transition: all 0.5s ease;

        &:hover {
          color: white;
          transition: all 0.5s ease;
        }
      }

      //Button to toggle on Mouseover
      #mouseover-button {
        margin-left: 1rem;
        position: relative;
        bottom: 65%;
        transition: all 0.5s ease;

        &:hover {
          color: white;
          transition: all 0.5s ease;
        }
      }
    }

    //Attending / Mouseover Text
    h4 {
      position: absolute;
      top: 20vh;
    }

    //Person Attending listing
    #attendance-list-wrapper {
      position: absolute;
      top: 35vh;
      height: 52vh;

      overflow-x: hidden;
      overflow-y: auto;

      display: flex;
      flex-direction: column;
      justify-content: top;
      align-items: center;
      padding: 1rem;

      text-align: left;

      .attendance-list-person {
        font-size: 0.8rem;
        position: relative;
        padding: 0 0;
        text-align: left;
        margin-top: 0.1rem;
        margin-left: 0;
        margin-bottom: 0.1rem;
        background: none;
        transition: all 0.5s ease;

        &:hover {
          color: white;
          transition: all 0.3s ease;
        }
      }
    }

    .limit-active {
      color: white;
      font-style: underline;
      transition: all 0.5s ease;
    }

    //Back button
    button {
      position: absolute;
      bottom: 3vh;
    }
  }
  // %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% ########## %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

  // %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% Right Side of Page %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
  #attendance-right {
    //Position
    position: absolute;
    right: 0;
    top: 0;
    width: 75vw;
    height: 100vh;
    z-index: -1;

    background-image:
     linear-gradient(120deg, #abd4f8 0%, #3577c3 100%),
     linear-gradient(276deg, #EECE13 10%, #f2a452 100%);

     
    //Arrange Items Within
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  //Back button for the attendance page
  #attendance-back {
    color: black;
    border: solid;
    border-radius: 5px;
    border-width: 0.05rem;
    border-color: v.$invisible;

    &:hover {
      transition: border-color 0.5s ease;
      border-color: black;
    }
  }

  /* ------------------------------------- &&&&&&&&&&&&&&&&&&&& ------------------------------------- */

}