/*------------- Page Layout -------------*/

/* ----------------------- Small devices -----------------------
(portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {

  //Setting font-size for rem
  html{
    font-size: 12px;
  }

  //Container
  #root {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(12, auto);
    column-gap: 0px;
    row-gap: 0px;
    width: 100vw;
    height: 100vh;
  }

  .page-top {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
  }

  .page-body {}

  .page-footer {
    height: 5%;
  }
}

/* ----------------------- Medium devices-----------------------
(landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {

  //Setting font-size for rem
  html {
    font-size: 16px;
  }

  //Container
  #root {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(8, auto);
    column-gap: 0px;
    row-gap: 0px;
    width: 100vw;
    height: 100vh;
  }

  .page-top {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
  }

  .page-body {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 7;
  }

  .page-footer {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 7;
  }
}

/* ----------------------- Large devices -----------------------
(laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {

  //Setting font-size for rem
  html {
    font-size: 20px;
  }

  //Container
  #root {
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(10, auto);
    column-gap: 0px;
    row-gap: 0px;
    width: 100vw;
    height: 100vh;
  }

  .page-top {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 1;
    max-height: 15vh;
  }

  .page-body {
    padding: 1em;
    margin: auto;
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 3;
    grid-row-end: 9;
  }

  .page-footer {
    max-height: 8vh;
  }
}