

/*-------------  Pallette Colors -------------*/
$palColor1: rgba(85, 38, 62, 0.5);
$palColor2: rgba(42, 5, 24, 0.91);
$palColor3: rgba(42, 5, 24, 0.91);
$palColor4: rgba(42, 5, 24, 0.91);
$palColor5: rgba(0,0,0,0.40);
$invisible: rgba(0,0,0,0);

/*-------------  Grid Colors -------------*/
$grid-active: rgba(138, 207, 155, 1);
$grid-active-border: rgb(8, 109, 34);
$grid-touch1: rgb(83, 175, 218);
$grid-touch2: rgb(143, 81, 184);

/*-------------  Calendar Colors -------------*/
//Shell
$calendar-primary: rgb(68, 131, 160);
$calendar-background: rgba(239, 228, 234, 0.4);
$calendar-border: rgba(239, 228, 234, 0.8);

//Hover Class
$calendar-hover: white;
$calendar-hover-background: rgb(68, 131, 160, 0.3);

//Selected Class
$calendar-selected-background: rgb(68, 131, 160);
$calendar-selected-border: rgb(68, 131, 160);
$calendar-selected-color: white;



/*------------- General Mixins -------------*/
@mixin mFlexbox($fdirection, $fspace, $falign) {
  display: flex;
  flex-direction: $fdirection;
  justify-content: $fspace;
  align-items: $falign;
}

@mixin mBorder($width: 0.15em, $borderColor: $palColor2, $style: solid) {
  border-style: $style;
  border-width: $width;
  border-color: $borderColor;
}
/*------------- ############### -------------*/