
@use './variables' as v;

/* -!-!-!-!-!-!-!-!-!-!-!-!-!  Mixins !-!-!-!-!-!-!-!-!-!-!-!-!- */

/* %*%*%*% Buttons %*%*%*% */

@mixin button-light() {
  color: v.$font-light;
  background: v.$background-light;

  border: solid;
  border-radius: 5px;
  border-width: 0.05rem;
  border-color: v.$invisible;

  &:hover {
    transition: border-color 0.5s ease;
    border-color: v.$font-light;
  }
}

@mixin button-dark() {
  color: v.$font-heavy;
  background: v.$background-light;

  border: solid;
  border-radius: 5px;
  border-width: 0.05rem;
  border-color: v.$invisible;

  &:hover {
    transition: border-color 0.5s ease;
    border-color: v.$font-heavy;
  }
}