/* This stylesheet is intended to set variables that the rest of the stylesheets pull from
making it simple to make small or large tweaks to many aspects of the web app */

/* %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%  Fonts %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink&display=swap');

$home-page-branding: 'Dancing Script', cursive;
$nav-items: 'Pacifico', cursive;
$footer-items: 'Pacifico', cursive;
$standard-font: 'Aref Ruqaa Ink', serif;
$fancy-font: 'Pacifico', cursive;
// $standard-font: 'Arvo', serif;

/* %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%  Colors %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% */

$invisible: rgba(0, 0, 0, 0);

$font-ghost:  rgba(233, 232, 232, 0.75);
$font-light: rgb(255, 255, 255);
$font-heavy: rgb(55, 53, 53);
$font-heavier: rgb(34, 34, 34);

$background-light: rgba(233, 232, 232, 0.25);

.empty {
  border-color: $invisible !important;
  background: $invisible !important;
  color: $invisible !important;
  pointer-events: none !important;
}

/* %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Major Wrapper Heights (by device) %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% */

$desktop-nav-height: 14vh;
$desktop-body-height: 76vh;
$desktop-footer-height: 10vh;

/* %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Component-specific Colors %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% */

/* !-!-!-!-!-!-!-!-!-! Peek Event Colors !-!-!-!-!-!-!-!-!-! */

/* Attendance Cell Color Classes based on percentage
of attendees available at that time slot */

// 0% - 10%
.noneAvailable {
  background: $invisible !important;
  transition: all 0.5s ease;
}

// 11% - 25%
.veryFewAvailable {
  background: rgb(241, 6, 6) !important;
  transition: all 0.5s ease;
}

// 26% - 40%
.fewAvailable {
  background: rgb(243, 120, 6) !important;
  transition: all 0.5s ease;
}

//41% - 55%
.someAvailable {
  background: rgb(255, 213, 0) !important;
  transition: all 0.5s ease;
}

//56% - 70%
.manyAvailable {
  background: rgb(217, 255, 0) !important;
  transition: all 0.5s ease;
}

//71% - 85%
.alotAvailable {
  background: rgb(149, 239, 84) !important;
  transition: all 0.5s ease;
}

// 86% - 100%
.everyoneAvailable {
  background: rgb(8, 251, 81) !important;
  transition: all 0.5s ease;
}

/* !-!-!-!-!-!-!-!-!-! Share Page Colors (Also used in transitions) !-!-!-!-!-!-!-!-!-! */

$details-background-color: #319ae6;
$details-background-image: linear-gradient(180deg, #319ae6 0%, #5285db 20%, #7b99f2 40%, #a869c9 60%, #6e36d7 80%, #1800ff 100%);

//Peek and Attend Colors (Also used in transitions)

$grids-left-background-image: linear-gradient(270deg, #EECE13 10%, #f4942e 100%);
$grids-right-background-image: linear-gradient(120deg, #abd4f8 0%, #3577c3 100%);

/* --------------------------------------- Grid Component Colors --------------------------------------- */

$grid-active: rgb(96, 201, 149);

/* --------------------------------------- Calendar Component Colors --------------------------------------- */

//Hover Class
$calendar-hover: white;
$calendar-hover-background: rgb(68, 131, 160, 0.3);

//Selected Class
$calendar-selected-background: $font-heavy;
$calendar-selected-border: $font-heavier;
$calendar-selected-color: $font-light;

/* %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%  Root Background Class Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% */

//Landing Page
.rb-home {
  background-image: linear-gradient(62deg, #dfae31 0%, #e8712b 33%, #c32727 66%, #bc53d1 100%);
}

//View Event - Details Page
.rb-share {
  background: linear-gradient(30deg, rgba(144,61,198,1) 0%, rgba(163,88,180,1) 33%, rgba(87,151,191,1) 66%, rgba(77,219,187,1) 100%);
}

//Create Event
.rb-create {
  background: rgb(219,104,25);
  background: linear-gradient(193deg, rgba(219,104,25,1) 0%, rgba(215,125,54,1) 17%, rgba(221,122,75,1) 33%, rgba(212,110,71,1) 50%, rgba(208,85,59,1) 66%, rgba(223,81,55,1) 83%, rgba(219,77,77,1) 100%);
}

//About Page
.rb-about {
  background: #ad5389;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(250deg, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% #&%$#&%$#&%$# %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% */
