/* This stylesheet is intended to set variables that the rest of the stylesheets pull from
making it simple to make small or large tweaks to many aspects of the web app */

/* %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%  Fonts %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% */
@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

$font-one: 'Helvetica', 'Arial', sans-serif;
$font-two: 'Jost', sans-serif;
$font-three: 'Spicy Rice', cursive;
$font-four: 'Gaegu', cursive;

/* %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%  Colors %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% */

//Pallette Colors

$pallette_one: #3d4bc6;
$pallette_two: #ECECEC;
$pallette_three: #014D59;
$pallette_four: #4bc4bdad;
$pallette_five: #000000;
$pallette_six: #9AFF9E;
$pallette_seven: #a9a9a9;
$pallette_eight: #818DFF;
$pallette_nine: #F9F9F9;

$invisible: #00000000;

/* %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Major Page Component Heights %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% */

//Desktop to Tablet (Screen Width >= 900px) 
// $navbar-height-desktop-to-tablet:;
// $body-padding-top-desktop-to-tablet: ;
// $body-height-desktop-to-tablet: ;
// $footer-height-desktop-to-tablet: ;

//Portrait Tablet
$navbar-height-portrait: 7vh;
$body-padding-top-portrait: 3vh;
$body-height-portrait: 85vh;
$footer-height-portrait: 5vh;

//Mobile
$navbar-height-mobile: 5vh;
$body-padding-top-mobile: 3vh;
$body-height-mobile: 84vh;
$footer-height-mobile: 8vh;

/* %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Global Class Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% */

.no-select {
  pointer-events: none;
  -webkit-touch-callout: none !important; /* iOS Safari */
  -webkit-user-select: none !important; /* Safari */
  -khtml-user-select: none !important; /* Konqueror HTML */
  -moz-user-select: none !important; /* Old versions of Firefox */
  -ms-user-select: none !important; /* Internet Explorer/Edge */
  user-select: none !important; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.invisible {
  color:#00000000 !important;
  background-color: rgba(0, 0, 0, 0) !important;
  border-color: rgba(0, 0, 0, 0) !important;
}

.hideBehind {
  z-index: -5 !important;
}

.collapse {
  width: 0 !important;
}
/* %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% #&%$#&%$#&%$# %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% */
