@import './master';

div.calendarShell {
  //General Styling in Calendar
  max-width: 15em;
  @include mFlexbox(column, space-around, center);
  margin: 1em;
  background-color: lightgray;

  //Calendar Heading Styling
  div.calendarHeadingButton {
    margin: 0.4em;
    font-size: large;
    font-weight: bold;
  }

  div.calendarBody {
    display: grid;
  }


  div.Invisible {
    color: $invisible;
  }


}