@import './master';

div.createFormShell {
  margin: 1em;
  font-size: small;

  form.createForm {
    @include mFlexbox(row, space-around, center);

    div.createFormSection {
      @include mFlexbox(column, space-between, center);
    }

    div.createFormSubSection#gridControls {
      @include mFlexbox(row, space-between, center);
      font-size: xx-small;

      option {
        font-size: xx-small;
      }
    }
  }

  .createFormBlock {
    margin: 0.2em;
  }

}

