@import './master';

div.createFormShell {

  //Display Settings
  margin: 1em;
  font-size: small;

  //General Font Settings
  font-weight: bold;
  font-size: large;

  //Coloring
  color: $palColor2;

  //Sub Components
  form.createForm {
    @include mFlexbox(row, space-around, center);

    div.createFormSection {
      @include mFlexbox(column, space-between, center);
    }

    div.createFormSubSection#gridControls {
      @include mFlexbox(row, space-between, center);
      font-size: xx-small;

      option {
        font-size: xx-small;
      }
    }

    .createFormQuestion {
      font-size: 14px;
      padding-top: 20px;
      margin-bottom: 5px;
    }

    .createFormInput {
      border: none;
      -webkit-appearance: none;
      -ms-appearance: none;
      -moz-appearance: none;
      appearance: none;
      box-sizing: border-box;
      border-radius: 3px;
      background: $input-background;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      outline: none;
      resize: none;
      font-size: 14px;
      width: 250px;
    }

    .createFormQuestionLabel {
      position: relative;
      left: 12px;
      top: 50%;
    }
  }

}

