@import './master';

div.createFormShell {

  //Display Settings
  margin: 1em;
  font-size: small;

  //General Font Settings
  font-weight: bold;
  font-size: x-large;

  //Coloring
  color: $palColor3;


  //Sub Components
  form.createForm {
    @include mFlexbox(row, space-around, center);

    div.createFormSection {
      @include mFlexbox(column, space-between, center);
    }

    div.createFormSubSection#gridControls {
      @include mFlexbox(row, space-between, center);
      font-size: xx-small;

      option {
        font-size: xx-small;
      }
    }
  }

  .createFormBlock {
    margin: 0.2em;
  }

}

