@import './master';

//Styles for the grid table in Grid.js
div.gridContents {
  @include mFlexbox(row, center, center);
  margin: 5em auto;

  div.gridCell {
    @include mBorder(0.01em, black);
    background-color: white;
    width: 2em;
    height: 1em;
  }

  div.gridActive {
    border-color: $grid-active-border;
    background-color: $grid-active;
  }

}