@import './master';

nav {

  //Flexbox Settings
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  //General Font Settings
  font-weight: bold;
  text-decoration: none;


  background-color: $palColor1;
  color: $palColor2;

  h1.navTittle {
    text-decoration: none;
  }

  span.ItColor {
    color: $palColor3;
  }

  div.navLeft {
    margin: 0.5em;
  }

  div.navRight {
    margin: 0.5em;
    @include mFlexbox(row, space-between, center)
  }

  .navItem {
    text-decoration-line: none;
    color: $palColor2;
    margin: 0.5em;
  }
}