@import './master';

nav {
  @include mFlexbox(row, space-between, center);
  @include mBorder(0em 0em 0.15em 0em);
  background-color: $palColor1;
  color: $palColor2;

  div.navLeft {
    margin: 0.5em;
  }

  div.navRight {
    margin: 0.5em;
    @include mFlexbox(row, space-between, center)
  }

  .navItem {
    text-decoration-line: none;
    color: $palColor2;
    margin: 0.5em;
  }
}