@use './../variables' as v;
@use './../mixins' as m;
@use './../device' as d;

//Wrapper
div.calendarShell {
  //General Styling in Calendar
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
  background-color: v.$background-light;
  border-style: none;
  border-radius: 0.3rem;
  max-width: 20em;
  padding: 0.5em;
  font-size: 14px;
  color: v.$font-heavy;
  font-weight: lighter;

  //Calendar Heading Styling
  div.calendarHeading {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: v.$font-heavy;

    .calendarHeadingButton {
      margin: 1em;
    }
  }

  //Grid Layout with 7 columns
  div.calendarBody {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }

  //Style for Individual Items in the grid
  div.calendarItem {
    text-align: center;
    align-items: center;
    margin: 0.2em;

    &:hover {
      color: v.$calendar-hover;
      background-color: v.$calendar-hover-background;
      border-style: solid;
      border-radius: 0.2em;
      border-width: 0em;
    }
  }

  //Style for Selected Items in the grid
  div.calendarSelected {
    background-color: v.$calendar-selected-background !important;
    border-color: v.$calendar-selected-border !important;
    color: v.$calendar-selected-color !important;
    border-style: solid !important;
    border-radius: 0.2em !important;
    border-width: 0em !important;
  } 

  div.Invisible {
    color: v.$invisible;
  }
}