@use './../variables' as v;
@use './../mixins' as m;
@use './../device' as d;

//%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Container Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%
#calendar-shell {
  border-style: solid;
  border-color: purple;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  
  color: rgba(1, 77, 89, 1);
  font-family: v.$font-two;
  border-radius: 0.3rem;
  padding: 0.5rem;
  padding-top: 10rem;

  width: 100%;

  //Mobile Sizing & Positioning
  @include d.for-phone-only {

  }

  //Tablet Portrait Sizing & Positioning
  @include d.for-tablet-portrait-up {

  }

  //Tablet Landscape Sizing & Positioning
  @include d.for-tablet-landscape-up {

  }

  //Desktop Sizing & Positioning
  @include d.for-desktop-up {

  }

  //Large Desktop Sizing & Positioning
  @include d.for-big-desktop-up {

  }

  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Major Component Wrappers Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  //Calendar Header
  #calendar-heading {
    border: solid;
    border-color: violet;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: rgba(1, 77, 89, 1);

    width: 30%;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {

    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {

    }

    //Tablet Landscape Sizing & Positioning
    @include d.for-tablet-landscape-up {

    }

    //Desktop Sizing & Positioning
    @include d.for-desktop-up {

    }

    //Large Desktop Sizing & Positioning
    @include d.for-big-desktop-up {

    }
  }

  //Grid Layout with 7 columns
  #calendar-body {
    border: solid;
    border-color: royalblue;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 80%;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {

    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {

    }

    //Tablet Landscape Sizing & Positioning
    @include d.for-tablet-landscape-up {

    }

    //Desktop Sizing & Positioning
    @include d.for-desktop-up {

    }

    //Large Desktop Sizing & Positioning
    @include d.for-big-desktop-up {

    }
  }

  //Style for Individual Items in the grid
  div.calendar-item {
    text-align: center;
    align-items: center;
    margin: 0.1rem;
    padding: 0.1rem;

    font-size: 2vw;
    text-align: center;
  }

  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Class Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  //Style for Selected Items in the grid
  .calendar-selected {
    background-color: v.$calendar-selected-background !important;
    border-color: v.$calendar-selected-border !important;
    color: v.$calendar-selected-color !important;
    border-style: solid !important;
    border-radius: 0.2em !important;
    border-width: 0em !important;
  }

  .calendar-day-label {
    pointer-events: none;
  }

  .selectable {
    &:hover {
      color: v.$calendar-hover;
      background-color: v.$calendar-hover-background;
      border-style: solid;
      border-radius: 0.2em;
      border-width: 0em;
    }
  }

  .Invisible {
    color: v.$invisible;
  }

  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Individual Element Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

}