//Imports
@use './../variables' as v;
@use './../device' as d;

label.custom-field {
  position: relative;
  border: none;

  //Input inside our custom field
  Input {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;

    height: 100%;
    width: 100%;
    font-size: 1rem;

    color: v.$font-heavier;
    border-radius: 3px;
    background: v.$background-light;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    outline: none;
    resize: none;
  }

  //Span placeholder inside our custom field
  .placeholder {
    position: absolute;
    font-size: 1rem;
    left: 5%;
    top: calc(55% - 1rem);
    font-weight: normal;
    color: v.$font-heavier;
    transition:
      top 0.3s ease,
      bottom 0.3s ease,
      font-size 0.3s ease,
      color 0.3s ease;
  }

  input:focus {
    border: solid;
    border-color: v.$font-heavier;
    border-width: 0.05rem;
  }

  input:focus+.placeholder,
  input:valid+.placeholder {
    font-size: 0.75rem;
    top: calc(-10% - 1rem);
    bottom: 0rem;
    left: 2%;
    color: #222;
  }
}
