@import './../master';

//Styles for the grid table in Grid.js
div.gridContents {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5em auto;

  div.gridCell {
    background-color: white;
    width: 2em;
    height: 1em;
    border-style: solid;
    border-color: black;
  }

  div.gridSelected {
    border-color: $grid-active-border;
    background-color: $grid-active;
  }

  div.gridTouch {
    background-color: $grid-touch1;
  }

}