//Imports
@use './../variables' as v;
@use './../device' as d;

label.custom-field-ta {
  position: relative;
  border: none;
  
  //Input inside our custom field
  textarea {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;

    width: 100%;
    height: 100%;
    font-size: 1rem;


    color: v.$font-heavier;
    border-radius: 3px;
    background: v.$background-light;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    outline: none;
    resize: none;
  }

  //Span placeholder inside our custom field
  .placeholder-ta {
    position: absolute;
    font-size: 1rem;
    left: 5%;
    top: calc(25% - 1rem);
    font-weight: normal;
    color: v.$font-light;
    transition:
      top 0.3s ease,
      bottom 0.3s ease,
      font-size 0.3s ease,
      color 0.3s ease;
  }

  textarea:focus {
    border: solid;
    border-color: v.$font-light;
    border-width: 0.05rem;
  }

  textarea:focus+.placeholder-ta,
  textarea:valid+.placeholder-ta {
    font-size: 0.75rem;
    top: calc(-6% - 1rem);
    bottom: 100%;
    left: 2%;
    color: v.$font-light;
  }
}