//Imports
@use './../variables' as v;
@use './../mixins' as m;
@use './../device' as d;

//%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Container Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%
#footer-shell {
  background-color: rgba(12, 12, 12, 0.8);

  //Size and Position
  width: 100%;

  //Container Styles
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;

  background-color: v.$pallette_four;

  // border: solid;
  // border-color: red;

  //Mobile Sizing
  @include d.for-phone-only {
  }

  //Tablet Portrait Sizing & Positioning
  @include d.for-tablet-portrait-up {
  }

  //Tablet Landscape Sizing & Positioning
  @include d.for-tablet-landscape-up {
  }

  //Desktop Sizing
  @include d.for-desktop-up {
  }

  //Large Desktop Sizing & Positioning
  @include d.for-big-desktop-up {
  }

  #footer-middle {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    font-family: v.$font-two;

    //Mobile Sizing
    @include d.for-phone-only {

    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {

    }

    //Tablet Landscape Sizing & Positioning
    @include d.for-tablet-landscape-up {

    }

    //Desktop Sizing
    @include d.for-desktop-up {

    }

    //Large Desktop Sizing & Positioning
    @include d.for-big-desktop-up {

    }
  }

  #footer-right {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    //Mobile Sizing
    @include d.for-phone-only {
      margin-right: 5rem;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      margin-right: 5rem;
    }

    //Tablet Landscape Sizing & Positioning
    @include d.for-tablet-landscape-up {
      margin-right: 5rem;
    }

    //Desktop Sizing
    @include d.for-desktop-up {
      margin-right: 5rem;
    }

    //Large Desktop Sizing & Positioning
    @include d.for-big-desktop-up {
      margin-right: 5rem;
    }
  }

  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Major Component Wrappers Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Class Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  .footer-middle-link {
    text-decoration: none;
    margin: 0 1rem;
    color: v.$pallette_three;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {

    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {

    }

    //Tablet Landscape Sizing & Positioning
    @include d.for-tablet-landscape-up {

    }

    //Desktop Sizing & Positioning
    @include d.for-desktop-up {

    }

    //Large Desktop Sizing & Positioning
    @include d.for-big-desktop-up {
      font-size: 1.5rem;
    }

  }

  .footer-right-link {
    text-decoration: none;
    margin: 0 1rem;
    color: v.$pallette_three;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {

    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {

    }

    //Tablet Landscape Sizing & Positioning
    @include d.for-tablet-landscape-up {

    }

    //Desktop Sizing & Positioning
    @include d.for-desktop-up {

    }

    //Large Desktop Sizing & Positioning
    @include d.for-big-desktop-up {
      font-size: 1.5rem;
    }
  }

  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Individual Element Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  #footerHomeButton {
    display: inline-block;
    font-family: v.$font-two;
    font-style: normal;
    letter-spacing: 0.08em;

    background: linear-gradient(90deg, #4DDABB 0%, #3D4BC6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #014D59;
    // border: 1.75723px solid #014D59;

    //Mobile Sizing
    @include d.for-phone-only {
      font-weight: 900;
      font-size: 42px;
      margin-left: 5rem;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      font-weight: 900;
      font-size: 42px;
      margin-left: 5rem;
    }

    //Tablet Landscape Sizing & Positioning
    @include d.for-tablet-landscape-up {
      font-weight: 900;
      font-size: 42px;
      margin-left: 5rem;
    }

    //Desktop Sizing
    @include d.for-desktop-up {
      font-weight: 900;
      font-size: 42px;
      margin-left: 5rem;
    }

    //Large Desktop Sizing & Positioning
    @include d.for-big-desktop-up {
      font-weight: 900;
      font-size: 42px;
      margin-left: 5rem;
    }
  }

}