//Imports
@use './../variables' as v;
@use './../mixins' as m;
@use './../device' as d;

//%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Container Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%
#navbar-shell {
  // border: solid red;

  //Display Settings
  position: absolute;
  padding: 0;
  margin: 0 0 0 0 !important;

  z-index: 5;

  //Mobile Sizing
  @include d.for-phone-only {
    top: 1.5vw;
    left: 15vw;
    right: 15vw;
    height: 5vw;

    border-radius: 10rem;
  }

  //Tablet Portrait Sizing & Positioning
  @include d.for-tablet-portrait-up {
    top: 1.5vw;
    left: 15vw;
    right: 15vw;
    height: 5vw;

    border-radius: 10rem;
  }

  //Tablet Landscape Sizing & Positioning
  @include d.for-tablet-landscape-up {
    top: 1.5vw;
    left: 15vw;
    right: 15vw;
    height: 5vw;

    border-radius: 10rem;
  }

  //Desktop Sizing
  @include d.for-desktop-up {
    top: 1.5vw;
    left: 15vw;
    right: 15vw;
    height: 5vw;

    border-radius: 10rem;
  }

  //Large Desktop Sizing & Positioning
  @include d.for-big-desktop-up {
    top: 1.5vw;
    left: 15vw;
    right: 15vw;
    height: 4.3vw;

    border-radius: 10rem;
  }

  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Major Component Wrappers Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  // %&%&%&%&%&% Navbar Motion Wrapper %&%&%&%&%&%
  #navbar-motion-wrapper {
    position: relative;
    background-color: rgba(237, 237, 237, 0.89);
    border: none;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 100%;
    border-radius: inherit;
  }


  // %&%&%&%&%&% Left Side of Nav Bar %&%&%&%&%&%
  div#navLeft {
    // border: solid green;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 50%;
    width: fit-content;
    padding-top: 0.5%;

    margin-left: 5%;

    //Mobile Sizing
    @include d.for-phone-only {
      margin-left: 5%;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      margin-left: 5%;
    }
  }

  // %&%&%&%&%&% Right Side of Nav Bar %&%&%&%&%&%
  div#navRight {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    // border: solid;
    // border-color: red;
    margin-right: 5%;
    height: 100%;

    //Mobile Sizing
    @include d.for-phone-only {
      margin-right: 5%;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      margin-right: 5%;
    }
    
  }

  // %&%&%&%&%&% navItems Wrapper %&%&%&%&%&%
  div#navItems-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    // border: solid;
    // border-color: yellow;

    height: 100%;

    //Mobile Sizing
    @include d.for-phone-only {

    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {

    }
    
  }

  // %&%&%&%&%&% Create Button Wrapper %&%&%&%&%&%
  div#navCreate-wrapper {
    // border: solid purple;
    border-radius: 2rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 50%;
    width: 10vw;

    margin-left: 0.8vw;

    //Mobile Sizing
    @include d.for-phone-only {
      width: 9rem;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      width: 10rem;
    }
    
  }



  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Class Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  //Styles for all Nav Items
  .navItem {

    //Coloring
    color: v.$pallette_three;
    font-family: v.$font-one;
    background: none;

    //No Styles
    border-style: none;
    text-decoration: none;
    cursor: pointer;

    font-size: calc(1rem + 0.6vw);


    //Mobile Sizing
    @include d.for-phone-only {
      margin: 0 0.5vw 0 0.5vw;
      font-size: calc(1rem + 0.6vw);
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      margin: 0 0.5vw 0 0.5vw;
      font-size: calc(1rem + 0.6vw);
    }
  }

  .navBarLink {
    // border: solid red;
    background: linear-gradient(360deg, v.$pallette_one, v.$pallette_one) left bottom/0% 5% no-repeat;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 50%;
    margin: 0 0.8vw 0 0.8vw;
    padding: 0;

    cursor: default;

    text-decoration: none;
    transition: background-size 0.5s ease;
  }

  //Hover Underline Effect
  .onPage {
    background-size: 100% 5% !important;
  }

  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Individual Element Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  //Home Link Wrapper
  #navbarHomeLink {
    // border: solid red;
    background: linear-gradient(360deg, v.$pallette_one, v.$pallette_one) left bottom/0% 5% no-repeat;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
    text-decoration: none;

    padding: 0;
    margin: 0;

    transition: background-size 0.5s ease;
  } 

  //Home Button
  #navbarHomeButton {
    border: none;

    display: inline-block;
    font-family: v.$font-one;
    font-style: normal;
    letter-spacing: 0.08em;

    background: linear-gradient(90deg, #4DDABB 0%, #3D4BC6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #014D59;

    font-weight: 900;
    font-size: calc(1rem + 1.5vw);

    //Mobile Sizing
    @include d.for-phone-only {
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
    }
  }

  //Link Wrapper for Create Button
  #navbarCreateLink {
    width: 100%;
    height: 100%;
  }

  //Create Button
  #navbarCreate {
    //Coloring
    color: v.$pallette_two;
    font-family: v.$font-one;
    background-color: v.$pallette_one;

    //No Styles
    border-style: none;
    text-decoration: none;

    font-weight: 500;
    font-size: calc(1rem + 0.6vw);
    border-radius: 5vw;

    height: 100%;
    width: 100%;

    cursor: pointer;

    //Mobile Sizing
    @include d.for-phone-only {
      font-weight: 400;
      font-size: 1.2rem;
      padding: 0.4rem 1rem 0.4rem 1rem;
      border-radius: 2rem;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      font-weight: 400;
      font-size: 1.2rem;
      padding: 0.4rem 1.3rem 0.4rem 1.3rem;
      border-radius: 2rem;
    }
  }
}