//Imports
@use './../../variables' as v;
@use './../../mixins' as m;
@use './../../device' as d;

//%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Container Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%
#create-shell {
  // border: solid;
  // border-color: red;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  max-width: 100%;
  
  background: linear-gradient(180deg, rgb(65, 115, 195) 0%, hsla(187, 47%, 52%, 1) 30%, hsla(0, 0%, 100%, 1) 50%);
  padding-top: max(20rem, 20vw);

  //Mobile Sizing
  @include d.for-phone-only {

  }

  //Tablet Portrait Sizing & Positioning
  @include d.for-tablet-portrait-up {

  }

  //Tablet Landscape Sizing & Positioning
  @include d.for-tablet-landscape-up {

  }

  //Desktop Sizing
  @include d.for-desktop-up {

  }

  //Large Desktop Sizing & Positioning
  @include d.for-big-desktop-up {

  }

  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Major Component Wrappers Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  //@#@#@#@#@&%&%&%&%&@#@#@#@#@ Top Section Wrapper @#@#@#@#@&%&%&%&%&@#@#@#@#@

  //Top Section
  #create-top-section {
    // border: solid;
    // border-color: orange;

    width: 90%;
    padding-bottom: 10rem;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {

    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {

    }

    //Tablet Landscape Sizing & Positioning
    @include d.for-tablet-landscape-up {

    }

    //Desktop Sizing & Positioning
    @include d.for-desktop-up {

    }

    //Large Desktop Sizing & Positioning
    @include d.for-big-desktop-up {

    }
  }

  //@#@#@#@#@&%&%&%&%&@#@#@#@#@ Middle Section Wrapper @#@#@#@#@&%&%&%&%&@#@#@#@#@

  //Middle Section
  #create-middle-section {
    // border: solid;
    // border-color: pink;

    width: 80%;
    height: calc(10rem + 40vw);
    margin-bottom: calc(5rem + 2vw);
    // height: 60rem;

    position: relative;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {

    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {

    }

    //Tablet Landscape Sizing & Positioning
    @include d.for-tablet-landscape-up {

    }

    //Desktop Sizing & Positioning
    @include d.for-desktop-up {

    }

    //Large Desktop Sizing & Positioning
    @include d.for-big-desktop-up {

    }
  }

  //@#@#@#@#@&%&%&%&%&@#@#@#@#@ Bottom Section Wrapper @#@#@#@#@&%&%&%&%&@#@#@#@#@

  //Bottom Section
  #create-bottom-section {
    // border: solid;
    // border-color: gold;
    padding: 0 0 0 0;

    width: 100%;
    height: calc(10rem + 38vw);

    //Mobile Sizing & Positioning
    @include d.for-phone-only {

    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {

    }
  }

  
  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Class Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  .calendar-counter-some {
    color: rgb(114, 97, 23) !important;
    background-color: rgb(214, 193, 70) !important;
  }

  .calendar-counter-maxed {
    color: #721717 !important;
    background-color: #e95151 !important;
  }

  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Individual Element Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  #calendarCounter {
    // border: solid;
    // border-color: red;
    border-radius:  5rem;

    height: calc(3rem + 2vw);
    width: calc(3rem + 2vw);

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    right: 5vw;
    top: calc(0.5rem + 1vw);

    background-color: v.$pallette_six;
    color: v.$pallette_three;

    font-family: v.$font-two;
    font-style: normal;
    font-size: calc(1rem + 0.5vw);

    transition:
     color 0.3s ease,
     background-color 0.3s ease;
  }
}

