//Imports
@use './../variables' as v;
@use './../mixins' as m;
@use './../device' as d;

$background-index: 0;
$layered-background-index: 1;
$wallpaper-index: 2;
$item-index: 3;
$speech-bubble-index: 4;
$description-index: 5;

//%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Container Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%
#about-shell {

    //Display Settings
    appearance: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 0 0 0;
    padding: 15vh 0 0 0;
    position: relative;

    width: 100%;
    background: linear-gradient(90deg, #4DDABB, #3D4BC6);

    z-index: $background-index;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
        overflow-y: auto;
        padding: v.$body-padding-top-mobile 0 0 0;
        min-height: v.$body-height-mobile;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
        overflow-y: auto;
        padding: v.$body-padding-top-portrait 0 0 0;
        min-height: v.$body-height-portrait;
    }

    //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Major Component Wrappers Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

    #about-text-wrapper {
        // border: solid red;
        width: 90%;
        z-index: $item-index;
    }

    #about-people-wrapper {
        // border: solid orange;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        position: relative;
        width: 100%;
        z-index: $item-index;
    }

    #about-wallpaper {
        // border: solid yellow;

        background-image: url("../../../public/assets/backgrounds/about_page/wallpaper.png");
        background-repeat: no-repeat;
        background-position: center;
        background-origin: content-box;
        background-size: cover;

        position: absolute;
        background-color: black;
        z-index: $wallpaper-index !important;
        width: 100vw;
        height: 32vw;

        //Mobile Sizing & Positioning
        @include d.for-phone-only {
            top: 38vh;
            height: 50vw;
        }

        //Tablet Portrait Sizing & Positioning
        @include d.for-tablet-portrait-up {
            top: 38vh;
            height: 40vw;
        }
    }

    //@#@#@#@#@&%&%&%&%&%&%&%&%&%&@#@#@#@#@ Person Blocks @#@#@#@#@&%&%&%&%&%&%&%&%&%&@#@#@#@#@

    #about-tom {
        background: #B4FFF1;
    }

    #about-chris {
        background: #D7FFB7;
    }

    #about-amelia {
        background: #D4D9FF;
    }

    //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Class Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%
 
    //Person's Card Wrapper
    .about-person {
        // border: solid blue;

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        position: relative;
        z-index: $item-index;
        border-radius: 2vw;

        margin-bottom: 5vw;
        height: 20vw;
        width: 60vw;

        //Mobile Sizing & Positioning
        @include d.for-phone-only {
            margin-bottom: 8vw;
            height: 45vw;
            width: 90vw;
        }

        //Tablet Portrait Sizing & Positioning
        @include d.for-tablet-portrait-up {
            margin-bottom: 5vw;
            height: 35vw;
            width: 80vw;
        }
    }

    //Person's Image
    .about-person-image {
        // border: solid pink;
        height: 85%;
        width: 25%;
        border-radius: 1.5vw;

        //Mobile Sizing & Positioning
        @include d.for-phone-only {
            width: 35%;
        }

        //Tablet Portrait Sizing & Positioning
        @include d.for-tablet-portrait-up {
            width: 30%;
        }
    }

    //Person's Text Bubble and Links Wrapper
    .about-person-contents {
        // border: solid violet;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        height: 85%;
        width: 50%;
        border-radius: 3vw;
        position: relative;

        background-color: #F4F4F4 !important;
        z-index: $description-index;
    }

    //Speech Bubble Shape
    .about-speech-bubble {
        position: absolute;

        background: #F4F4F4;
        border-radius: 14px;
        transform: matrix(1, -2, 2, -0.07, 0, 0);
        rotate: 35deg;

        left: 43%;
        top: 30%;
        z-index: $speech-bubble-index;

        width: 4vw;
        height: 4vw;

        //Mobile Sizing & Positioning
        @include d.for-phone-only {
            left: 44.5%;
        }

        //Tablet Portrait Sizing & Positioning
        @include d.for-tablet-portrait-up {
            left: 42.5%;
        }
    }

    //Person's Description
    .about-person-description {
        // border: solid magenta;

        font-family: v.$font-four;
        text-align: left;
        overflow-y: auto;
        width: 90%;

        position: absolute;
        top: 0rem;

        font-size: calc(0.1rem + 1.6vw);
        z-index: $description-index;

        //Mobile Sizing & Positioning
        @include d.for-phone-only {
            font-size: calc(0.1rem + 3.1vw);
        }

        //Tablet Portrait Sizing & Positioning
        @include d.for-tablet-portrait-up {
            font-size: calc(0.1rem + 2.6vw);
        }
    }

    //Person's Links
    .about-person-all-links {
        // border: solid skyblue;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        position: absolute;
        bottom: 0.5vw;

        font-family: v.$font-four;
        font-size: calc(0.1rem + 1vw);
        width: 85%;

        //Mobile Sizing & Positioning
        @include d.for-phone-only {
            font-size: calc(0.1rem + 1.5vw);
        }

        //Tablet Portrait Sizing & Positioning
        @include d.for-tablet-portrait-up {
            font-size: calc(0.1rem + 1.5vw);
        }
    }

    //Links
    a {
        color: black;
        text-decoration: none;
    }

    //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Individual Element Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

    #about-bg {
        // background-image: url("../../../public/assets/backgrounds/about_page/about_background.png");
        // background-repeat: no-repeat;
        // background-position: center;
        // background-origin: content-box;
        // background-size: cover;

        // position: absolute;

        // left: 0;
        // top: 0;

        // width: 100%;
        // height: 100%;

        // opacity: 20%;
        // z-index: $layered-background-index;
    }

    //@#@#@#@#@&%&%&%&%&%&%&%&%&%&@#@#@#@#@ Text At Top @#@#@#@#@&%&%&%&%&%&%&%&%&%&@#@#@#@#@

    #about-text-title {
        font-family: v.$font-two;
        color: v.$pallette_two;
        font-size: calc(0.1rem + 4.5vw);

        //Mobile Sizing & Positioning
        @include d.for-phone-only {
            font-size: calc(0.1rem + 4.5vw);
        }

        //Tablet Portrait Sizing & Positioning
        @include d.for-tablet-portrait-up {
            font-size: calc(0.1rem + 4.5vw);
        }
    }

    #about-text-description {
        font-family: v.$font-two;
        color: v.$pallette_two;
        font-size: calc(0.1rem + 2vw);

        //Mobile Sizing & Positioning
        @include d.for-phone-only {
            font-size: calc(0.1rem + 3.5vw);
        }

        //Tablet Portrait Sizing & Positioning
        @include d.for-tablet-portrait-up {
            font-size: calc(0.1rem + 3vw);
        }
    }

    //@#@#@#@#@&%&%&%&%&%&%&%&%&%&@#@#@#@#@ Person Specific Image Divs @#@#@#@#@&%&%&%&%&%&%&%&%&%&@#@#@#@#@


    #tom-image {
        background-image: url("../../../public/assets/people/tom.png");
        background-repeat: no-repeat;
        background-position: center;
        background-origin: content-box;
        background-size: cover;
    }

    #chris-image {
        background-image: url("../../../public/assets/people/chris.png");
        background-repeat: no-repeat;
        background-position: center;
        background-origin: content-box;
        background-size: cover;
    }

    #chris-speech-bubble {
        transform: matrix(1, -2, 2, -0.07, 0, 0);
        rotate: 35deg;

        left: 50%;

        //Mobile Sizing & Positioning
        @include d.for-phone-only {
            left: 51.2%;
        }

        //Tablet Portrait Sizing & Positioning
        @include d.for-tablet-portrait-up {
            left: 52.5%;
        }
    }

    #amelia-image {
        background-image: url("../../../public/assets/people/amelia.png");
        background-repeat: no-repeat;
        background-position: center;
        background-origin: content-box;
        background-size: cover;
    }

}