//Imports
@use './../variables' as v;
@use './../mixins' as m;
@use './../device' as d;

//%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Container Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%
#attendance-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  height: 100%;
  width: 100%;

  //These Values are set in AttendanceChart.js based on the number of cells
  --column-width: 0rem;
  --column-label-height: 0rem;
  --chart-height: 0rem;
  --cell-height: 0rem;

  //Mobile Sizing & Positioning
  @include d.for-phone-only {

  }

  //Tablet Portrait Sizing & Positioning
  @include d.for-tablet-portrait-up {

  }

  //Tablet Landscape Sizing & Positioning
  @include d.for-tablet-landscape-up {

  }

  //Desktop Sizing & Positioning
  @include d.for-desktop-up {
  }


  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Major Component Wrappers Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  #column-labels {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;

    width: 100%;
    height: 7%;

    border: solid;
    // border-color: white;
    border-color: v.$invisible;
  }

  #attendance-contents {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    border: solid;
    // border-color: green;
    border-color: v.$invisible;

    padding-top: 2%;

    width: 100%;
    max-height: 90%;

    overflow-y: auto;
  }

  #rowLabels {
    padding: 0rem;
    margin: 0rem;

    width: var(--column-width);
    height: 100%;
  }

  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Class Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  // ------------- General Column and Cell Styling -------------

  //Chart Columns
  .chartColumn {
    padding: 0rem;
    margin: 0rem;

    border: solid;
    border-color: v.$invisible;
    // border-color: red;
    border-width: 0.1rem;

    width: var(--column-width);
    height: 98%;
  }

  //Chart Cells
  .chartCell {
    border-style: solid;
    border-color: v.$font-light;
    border-width: 0.1rem;
    margin: 0;
    padding: 0;
    transition: all 0.5s ease;

    width: 100%;
    height: var(--cell-height);

    &:hover {
      border-color: v.$font-heavier;
      transition: border-color 0.5s ease;
    }
  }

  // ------------- Row Label Styling -------------

  //Row Label Cell
  .rowLabelCell {
    border: solid;
    border-color: v.$invisible;
    border-width: 0.1rem;
    background-color: v.$invisible;

    width: 100%;
    height: var(--cell-height);
  }

  //Row Label Text
  .rowLabelText {
    position: relative;
    bottom: 40%;
    right: 10%;
    font-size: 0.8rem;
    color: v.$font-light;
    text-align: right;
  }

  // ------------- Column Label Styling -------------

  //Column Label Cell
  .columnLabelCell {
    border: solid;
    border-color: v.$invisible;
    // border-color: black;
    border-width: 0.1rem;
    margin: 0 0 0 0;

    height: 100%;
    width: var(--column-width);
  }

  //Column Label Text
  .columnLabelText {
    position: relative;
    bottom: 0.2rem;
    font-size: 0.8rem;
    color: v.$font-light;
    text-align: center;
  }

  // ------------- Empty Class -------------

  .empty {
    border-color: v.$invisible !important;
    background: v.$invisible !important;
    color: v.$invisible !important;
    pointer-events: none !important;
  }

//%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Individual Element Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

}