//Imports
@use './../variables' as v;
@import '../device_layout/layout';

$chart-cell-width: 4rem;
$chart-cell-height: 2.5rem;


//Chart Wrapper
div.chartContents {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto 0 auto;
  padding: 0rem;

  // %%%%%%%%%%%%%%%%%%%% Chart Columns and Rows Styling %%%%%%%%%%%%%%%%%%%%

  //Chart Columns
  div.chartColumn {
    padding: 0rem;
    margin: 0rem;
  }

  //Chart Cells
  div.chartCell {
    width: $chart-cell-width;
    height: $chart-cell-height;
    border-style: solid;
    border-color: black;
    border-width: 0.1rem;
    margin: 0;
    padding: 0;
    transition: all 0.5s ease;

    &:hover {
      border-color: white;
      transition: border-color 0.5s ease;
    }
  }
}

// %%%%%%%%%%%%%%%%%%%% Row Label Styling %%%%%%%%%%%%%%%%%%%%

//Row Label Wrapper
.chartRowLabels {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

//Row Label Cell
.chartRowLabelCell {
  border: solid;
  border-color: v.$invisible;
  border-width: 0.1rem;
  background-color: v.$invisible;
  width: $chart-cell-width;
  height: $chart-cell-height;
}

//Row Label Text
.chartRowLabelText {
  position: relative;
  top: 10%;
  right: 5%;
  font-size: 0.5rem;
  color: black;
  text-align: right;
}

// %%%%%%%%%%%%%%%%%%%% Column Label Styling %%%%%%%%%%%%%%%%%%%%

//Column Label Wrapper
.chartColumnLabels {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0rem;
  padding: 0rem;
}

//Column Label Cell
.chartColumnLabelCell {
  border: none;
  border-color: purple;
  border-width: 0.1rem;
  margin: 0 0 0 0;
  width: $chart-cell-width;
  height: $chart-cell-height;
}

//Column Label Text
.chartColumnLabelText {
  position: relative;
  top: 55%;
  font-size: 0.5rem;
  color: black;
  text-align: center;
}

// %%%%%%%%%%%%%%%%%%%% Cell Background Colors %%%%%%%%%%%%%%%%%%%%

// 0% - 10%
.noneAvailable {
  background: v.$invisible;
  transition: all 0.5s ease;
}

// 11% - 25%
.veryFewAvailable {
  background: rgb(241, 6, 6);
  transition: all 0.5s ease;
}

// 26% - 40%
.fewAvailable {
  background: rgb(243, 120, 6);
  transition: all 0.5s ease;
}

//41% - 55%
.someAvailable {
  background: rgb(255, 213, 0);
  transition: all 0.5s ease;
}

//56% - 70%
.manyAvailable {
  background: rgb(217, 255, 0);
  transition: all 0.5s ease;
}

//71% - 85%
.alotAvailable {
  background: rgb(103, 234, 10);
  transition: all 0.5s ease;
}

// 86% - 100%
.everyoneAvailable {
  background: rgb(16, 111, 15);
  transition: all 0.5s ease;
}