//Imports
@use './../../variables' as v;
@use './../../mixins' as m;
@use './../../device' as d;

//%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Container Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%
#created-shell {
  // border: solid red;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  position: relative;

  width: 100vw;
  min-height: v.$body-height-desktop-to-tablet;
  padding-top: v.$body-padding-top-desktop-to-tablet;

  background: linear-gradient(90deg, #4DDABB -48.72%, #3D4BC6 150.8%);

  //Mobile Sizing
  @include d.for-phone-only {
    min-height: v.$body-height-mobile;
    padding-top: v.$body-padding-top-mobile;
  }

  //Tablet Portrait Sizing & Positioning
  @include d.for-tablet-portrait-up {
    min-height: v.$body-height-portrait;
    padding-top: v.$body-padding-top-portrait;
  }

  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Major Component Wrappers Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  #created-top-section {
    // border: solid red;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding: 0 0 0 0;
    width: 100%;

    //Mobile Sizing
    @include d.for-phone-only {

    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {

    }
  }

  #created-mid-section {
    // border: solid orange;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    position: relative;

    width: 100%;

    //Mobile Sizing
    @include d.for-phone-only {
      flex-direction: column;
      min-height: calc(v.$body-height-mobile * 0.8);
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      flex-direction: column;
      min-height: calc(v.$body-height-portrait * 0.8);
    }
  }

  #created-mid-left-section {
    // border: solid purple;
    border-radius: 1vw;

    width: 30%;

    background-color: v.$pallette_two;
    padding: 1.5vw 1.5vw 1.5vw 1.5vw;

    //Mobile Sizing
    @include d.for-phone-only {
      border-radius: 3vw;
      padding: 5vw 5vw 5vw 5vw;
      height: fit-content;
      width: 80%;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      border-radius: 3vw;
      padding: 5vw 5vw 5vw 5vw;
      height: fit-content;
      width: 80%;
    }
  }

  #created-mid-left-top-subsection {
    // border: solid purple;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    //Mobile Sizing
    @include d.for-phone-only {
      flex-direction: column;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      flex-direction: column;
    }
  }

  #created-mid-right-section {
    // border: solid pink;

    height: 80%;
    width: 35%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;

    //Mobile Sizing
    @include d.for-phone-only {
      height: fit-content;
      width: 80%;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      height: fit-content;
      width: 80%;
    }
  }

  #created-bottom-section {
    // border: solid gold;

    padding: 0 0 0 0;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    //Mobile Sizing
    @include d.for-phone-only {

    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {

    }
  }

  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Class Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  //Deatils Label Text
  .created-event-details-label {
    font-size: calc(1rem + 0.7vw);
    font-family: v.$font-two;
    font-style: normal;
    font-weight: 700;

    color: v.$pallette_three;
  }

  //Details Text
  .created-event-details {
    font-size: calc(1rem + 0.6vw);
    font-family: v.$font-two;
    font-style: normal;
    font-weight: 700;

    color: black;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      font-size: calc(0.1rem + 0.8vw);
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      font-size: calc(0.1rem + 0.8vw);
    }
  }

  //Mid-right Text
  .created-mid-right-text {
    color: v.$pallette_two;
    font-family: v.$font-two;
    font-weight: 700;
    font-size: calc(0.1rem + 1.5vw);

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      font-size: calc(0.1rem + 4.5vw);
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      font-size: calc(0.1rem + 4.5vw);
    }
  }

  //Mid-right reminder text
  .created-mid-right-reminder {
    color: v.$pallette_one;
    font-family: v.$font-two;
    font-weight: 700;
    font-size: calc(0.1rem + 0.6vw);
    background-color: #FFFACF;
    padding: max(0.25rem, 0.8vw);
    width: fit-content;
    border-radius: 0.5vw;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      border-radius: 2vw;
      font-size: calc(0.1rem + 2.8vw);
      padding: 2vw;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      border-radius: 2vw;
      font-size: calc(0.1rem + 2.8vw);
      padding: 2vw;
    }
  }

  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Individual Element Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  //@#@#@#@#@&%&%&%&%&@#@#@#@#@ Top Section @#@#@#@#@&%&%&%&%&@#@#@#@#@

  #created-top-text {
    color: v.$pallette_two;
    font-family: v.$font-two;
    font-size: calc(0.1rem + 3vw);

    margin: 0 0 1.5vw 0;

    //Mobile Sizing
    @include d.for-phone-only {
      font-size: calc(0.1rem + 8vw);
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      font-size: calc(0.1rem + 8vw);
    }
  }

  #created-top-header {
    display: inline-block;

    font-size: calc(0.1rem + 5vw);
    font-family: v.$font-one;
    font-weight: 900;
    font-style: normal;

    background: linear-gradient(270deg, #4DDABB -0.15%, #3D4BC6 99.85%);
    // text-shadow: 5px 5px 1px #014D59;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    -webkit-text-stroke: 4px #014D59;

    margin: 0 0 0 0;

    //Mobile Sizing
    @include d.for-phone-only {
      font-size: calc(0.1rem + 12vw);
      -webkit-text-stroke: 2px #014D59;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      font-size: calc(0.1rem + 12vw);
      -webkit-text-stroke: 3px #014D59;
    }
  }
  
  //@#@#@#@#@&%&%&%&%&@#@#@#@#@ Middle Section @#@#@#@#@&%&%&%&%&@#@#@#@#@

  //Title Wrapper
  #created-title-wrapper {
    // border: solid red;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    height: fit-content;
    max-width: 40%;

    overflow-y: hidden;
    text-align: center;
    text-overflow: ellipsis;
    margin-bottom: 5%;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      max-width: 100%;
      text-align: left;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      max-width: 100%;
      text-align: left;
    }
  }

  //Title Label
  #created-title-label {
    margin: 0 0 0.5vw 0;
    font-size: calc(0.1rem + 0.8vw);

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      font-size: calc(0.1rem + 3.5vw);
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      font-size: calc(0.1rem + 3.5vw);
    }
  }

  //Title Text
  #created-title {
    // border: solid purple;

    margin: 0 auto 0 auto;

    overflow-y: auto;
    text-overflow: ellipsis;
    font-size: calc(0.1rem + 1.2vw);

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      margin: 0 0 1vw 0;
      font-size: calc(0.1rem + 4vw);
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      margin: 0 0 1vw 0;
      font-size: calc(0.1rem + 4vw);
    }
  }

  ///////////////////////////////////////////////////////////////

  //Location Wrapper
  #created-location-wrapper {
    // border: solid red;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    height: fit-content;
    max-width: 40%;

    overflow-y: hidden;
    text-align: center;
    text-overflow: ellipsis;
    margin-bottom: 5%;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      max-width: 100%;
      text-align: left;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      max-width: 100%;
      text-align: left;
    }
  }

  #created-location-label {
    margin: 0 0 0.5vw 0;
    font-size: calc(0.1rem + 0.8vw);

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      margin: 0 0 1vw 0;
      font-size: calc(0.1rem + 3.5vw);
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      margin: 0 0 1vw 0;
      font-size: calc(0.1rem + 3.5vw);
    }
  }

  //Location Text
  #created-location {
    // border: solid purple;

    max-height: 5vw;
    margin: 0 auto 0 auto;

    overflow-y: auto;
    text-overflow: ellipsis;
    font-size: calc(0.1rem + 1.2vw);

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      font-size: calc(0.1rem + 4vw);
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      font-size: calc(0.1rem + 4vw);
    }
  }

  ///////////////////////////////////////////////////////////////
  //Description Wrapper
  #created-description-wrapper {
    border: solid;
    border-color: v.$pallette_seven;
    border-width: max(1.5px, 0.05vw);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: fit-content;
    min-height: 5vw;
    max-height: 15vw;
    padding-top: 0;
    padding-left: 2vw;
    padding-right: 2vw;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      height: fit-content;
      min-height: 20vw;
      max-height: 40vw;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      height: fit-content;
      min-height: 20vw;
      max-height: 40vw;
    }
  }

  //Description Text
  #created-description {

    height: 100%;
    width: 100%;

    font-size: calc(0.1rem + 0.8vw);

    overflow-y: auto;
    text-overflow: ellipsis;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      font-size: calc(0.1rem + 3vw);
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      font-size: calc(0.1rem + 2.5vw);
    }
  }

  ///////////////////////////////////////////////////////////////

  //Lime Arrow SVG
  #created-limeArrow-svg {
    background-image: url("../../../../public/assets/graphics/created_page/limeArrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    background-size: cover;

    position: absolute;
    bottom: -32%;
    right: 18vw;

    rotate: 0deg;

    width: 8vw;
    height: 12vw;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      bottom: -3%;
      right: -3vw;

      rotate: -20deg;
      width: 25vw;
      height: 30vw;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      bottom: -5%;
      right: -3vw;

      rotate: -20deg;
      width: 25vw;
      height: 30vw;
    }

  }

  //@#@#@#@#@&%&%&%&%&@#@#@#@#@ Bottom Section @#@#@#@#@&%&%&%&%&@#@#@#@#@


  //Copy Link button at the bottom of the screen
  #copyLink-shell {
    margin-top: 3vw;
    margin-bottom: 3vw;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      margin-top: 8vw;
      margin-bottom: 8vw;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      margin-top: 8vw;
      margin-bottom: 8vw;
    }
  }


  //Wallpaper at the bottom of the screen
  #created-wallpaper {
    // border: solid red;

    background-image: url("../../../../public/assets/backgrounds/created_page/created_wallpaper.png");
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    background-size: cover;

    width: 100%;
    height: 15vw;
    margin-bottom: 8vw;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      width: 100%;
      height: 30vw;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      width: 100%;
      height: 15vw;
    }
  }


}