//Imports
@use './../../variables' as v;
@use './../../mixins' as m;
@use './../../device' as d;

//%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Container Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%
#created-shell {
  // border: solid;
  // border-color: red;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  position: relative;

  width: 100vw;

  background: linear-gradient(90deg, #4DDABB -48.72%, #3D4BC6 150.8%);

  //Mobile Sizing
  @include d.for-phone-only {

  }

  //Tablet Portrait Sizing & Positioning
  @include d.for-tablet-portrait-up {

  }

  //Tablet Landscape Sizing & Positioning
  @include d.for-tablet-landscape-up {

  }

  //Desktop Sizing
  @include d.for-desktop-up {

  }

  //Large Desktop Sizing & Positioning
  @include d.for-big-desktop-up {

  }

  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Major Component Wrappers Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  #created-top-section {
    // border: solid;
    // border-color: red;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    margin-top: max(10rem, 10vw);

    padding: max(1rem, 1vw) 0 max(1rem, 1vw) 0;
    width: 100%;
  }

  #created-mid-section {
    // border: solid;
    // border-color: orange;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    position: relative;

    width: 100%;
    padding-top: max(8rem, 8vw);
    padding-bottom: max(8rem, 8vw);
  }

  #created-mid-left-section {
    // border: solid;
    // border-color: purple;
    border-radius: 3% 3%;

    width: 30%;

    background-color: v.$pallette_two;
    padding-top: max(2rem, 2vw);
    padding-left: max(2rem, 2vw);
    padding-bottom: max(2rem, 2vw);
    padding-right: max(2rem, 2vw);
  }

  #created-mid-right-section {
    // border: solid;
    // border-color: pink;

    height: 80%;
    width: 35%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
  }

  #created-bottom-section {
    // border: solid;
    // border-color: gold;

    padding: max(3rem, 4vw) 0 max(1rem, 1vw) 0;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Class Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  //Deatils Label Text
  .created-event-details-label {
    font-size: calc(1rem + 0.7vw);
    font-family: v.$font-two;
    font-style: normal;
    font-weight: 700;

    color: v.$pallette_three;
  }

  //Details Text
  .created-event-details {
    font-size: calc(1rem + 0.6vw);
    font-family: v.$font-two;
    font-style: normal;
    font-weight: 700;

    color: black;
  }

  //Mid-right Text
  .created-mid-right-text {
    color: v.$pallette_two;
    font-family: v.$font-two;
    font-weight: 700;
    font-size: calc(1rem + 1vw);
  }

  //Mid-right reminder text
  .created-mid-right-reminder {
    color: v.$pallette_one;
    font-family: v.$font-two;
    font-weight: 700;
    font-size: calc(1rem + 0.05vw);
    background-color: #FFFACF;
    padding: max(0.25rem, 0.8vw);
    width: fit-content;
    border-radius: 0.5vw;
  }

  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Individual Element Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  //@#@#@#@#@&%&%&%&%&@#@#@#@#@ Top Section @#@#@#@#@&%&%&%&%&@#@#@#@#@

  #created-top-text {
    color: v.$pallette_two;
    font-family: v.$font-two;
    font-size: max(3rem, 4vw);

    margin-bottom: max( 1.5rem, 1.5vw);
  }

  #created-top-header {
    display: inline-block;

    font-size: max(3rem, 8vw);
    font-family: v.$font-one;
    font-weight: 900;
    font-style: normal;

    background: linear-gradient(270deg, #4DDABB -0.15%, #3D4BC6 99.85%);
    // text-shadow: 5px 5px 1px #014D59;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    -webkit-text-stroke: 4px #014D59;

    margin: 0 0 0 0;
  }
  
  //@#@#@#@#@&%&%&%&%&@#@#@#@#@ Middle Section @#@#@#@#@&%&%&%&%&@#@#@#@#@

  //Title Wrapper
  #created-title-wrapper {
    // border: solid;
    // border-color: red;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    height: fit-content;

    overflow-y: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5%;
  }

  //Title Label
  #created-title-label {
    margin: 0% auto 0.5% 0%;
  }

  //Title Text
  #created-title {
    // border: solid;
    // border-color: purple;

    width: 95%;
    max-height: max(5rem, 10vw);
    margin: 0 auto 0 auto;

    overflow-y: auto;
    text-overflow: ellipsis;
  }

  ///////////////////////////////////////////////////////////////

  //Location Wrapper
  #created-location-wrapper {
    // border: solid;
    // border-color: red;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    height: fit-content;

    overflow-y: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5%;
  }

  #created-location-label {
    margin: 0% auto 0.5% 0%;
  }

  //Location Text
  #created-location {
    // border: solid;
    // border-color: purple;

    width: 95%;
    max-height: max(5rem, 10vw);
    margin: 0 auto 0 auto;

    overflow-y: auto;
    text-overflow: ellipsis;
  }

  ///////////////////////////////////////////////////////////////
  //Description Wrapper
  #created-description-wrapper {
    border: solid;
    border-color: v.$pallette_seven;
    border-width: max(1.5px, 0.05vw);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: max(15rem, 8vw);
    padding-top: 0;
    padding-left: max(0.5rem, 0.1vw);
    padding-right: max(0.5rem, 0.1vw);
  }

  //Description Text
  #created-description {

    height: 100%;
    width: 100%;

    font-size: calc(0.5rem + 0.6vw);

    overflow-y: auto;
    text-overflow: ellipsis;
  }

  ///////////////////////////////////////////////////////////////

  //Lime Arrow SVG
  #created-limeArrow-svg {
    background-image: url("../../../../public/assets/graphics/created_page/limeArrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    background-size: cover;

    position: absolute;
    bottom: -5%;
    right: 12vw;

    rotate: 0deg;

    width: 8vw;
    height: 12vw;

  }

  //@#@#@#@#@&%&%&%&%&@#@#@#@#@ Bottom Section @#@#@#@#@&%&%&%&%&@#@#@#@#@


  //Copy Link button at the bottom of the screen
  #copyLink-shell {
    margin-bottom: max(10rem, 10vw);
  }


  //Wallpaper at the bottom of the screen
  #created-wallpaper {
    // border: solid;
    // color: red;

    background-image: url("../../../../public/assets/backgrounds/created_page/created_wallpaper.png");
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    background-size: cover;

    width: 100%;
    height: max(20rem, 20vw);

    margin-bottom: max(5rem, 5vw);
  }


}