//Imports
@use './../variables' as v;
@use './../mixins' as m;
@use './../device' as d;

//%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Container Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%
#home-shell {

  //Display Settings
  appearance: none;
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  margin: 0 0 0 0;
  padding: 0 0 0 0;

  position: relative;

  height: fit-content;

  //Mobile Sizing
  @include d.for-phone-only {

  }

  //Tablet Portrait Sizing & Positioning
  @include d.for-tablet-portrait-up {

  }
  
  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Major Component Wrappers Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  // &%&%&%&%&%&%&%&%&%& Landing Wrapper &%&%&%&%&%&%&%&%&%&
  #home-landing {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    background-image: url("../../../public/assets/backgrounds/home_page/landing.png");
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    background-size: cover;

    position: relative;

    height: 100vh;
    width: 100vw;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      background-image: url("../../../public/assets/backgrounds/home_page/landing-mobile.png");
      background-position: 40%;
      height: 100vh;
      width: 100vw;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      background-image: url("../../../public/assets/backgrounds/home_page/landing-mobile.png");
      height: 100vh;
      width: 100vw;
    }

  }

  // &%&%&%&%&%&%&%&%&%& Testimonial Wrapper &%&%&%&%&%&%&%&%&%&
  #home-testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    position: relative;

    width: 70vw;
    height: 30vw;
    margin: 5vw 0 0 0;
    z-index: 1;

    border: none;
    border-radius: 2vw;

    background: linear-gradient(270deg, #4DDABB -28.37%, #3D4BC6 122.74%);

    font-family: v.$font-four;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      width: 94vw;
      height: 50vw;
      border-radius: 3rem;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      width: 94vw;
      height: 50vw;
      border-radius: 3rem;
    }
  }
  
  // &%&%&%&%&%&%&%&%&%& Contents Wrapper &%&%&%&%&%&%&%&%&%&
  #home-contents {
    // border: solid green;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;

    width: 100%;
    height: fit-content;

    margin: 14vw 0 0 0;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      margin-top: 20vw;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      margin-top: 20vw;
    }
  }

  // @#@#@#@#@#@#@#@#@#@ Content Blocks @#@#@#@#@#@#@#@#@#@

  //Content Block One
  #home-content-block-one {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    position: relative;

    width: 70vw;
    height: 22vw;

    background-color: #FFE2FE;
    border-radius: 2vw;

    padding: 1vw 0vw 1vw 0vw;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      width: 94vw;
      height: 50vw;
      border-radius: 3rem;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      width: 94vw;
      height: 50vw;
      border-radius: 3rem;
    }
  }

  //Content Block Two
  #home-content-block-two {
    // border: solid pink;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    position: relative;

    width: 100%;
    height: calc(10rem + 22vw);

    margin: 12vw 0 0 0;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      height: fit-content;
      margin-top: 2.5vw;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      height: fit-content;
      margin-top: 2.5vw;
    }
  }

  //Content Block Three
  #home-content-block-three {
    // border: solid purple;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;

    width: 100%;

    margin: 12vw 0 25vw 0;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      margin: 8vw 0 29vw 0;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      margin: 8vw 0 29vw 0;
    }
  }

  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Class Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  .home-content-text {
    font-family: v.$font-two;
    font-style: normal;
    font-size: calc(0.1rem + 2.4vw);
    color: v.$pallette_three;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      font-size: calc(0.1rem + 4vw);
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      font-size: calc(0.1rem + 4vw);
    }
  }

  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Individual Element Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  // @#@#@#@#@&%&%&%&%&%&%&%&%&%&@#@#@#@#@ Landing @#@#@#@#@&%&%&%&%&%&%&%&%&%&@#@#@#@#@

  //Create Event Button
  #create-event-button-link {
    position: absolute;
    bottom: 10%;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      position: relative;
      bottom: 14%;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      position: relative;
      bottom: 14%;
    }
  }

  #create-event-button {
    border: solid;
    border-width: 0;
    border-radius: 5rem;
    border-color: v.$pallette_eight;

    font-style: normal;
    font-size: calc(1rem + 1vw);
    font-family: v.$font-one;
    font-weight: 800;

    color: v.$pallette_two;
    background-color: v.$pallette_one;

    padding: max(0.5rem, 1vw) max(1rem, 2vw);

    cursor: pointer;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      font-size: 2rem;
      padding: 1rem 2rem 1rem 2rem;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      font-size: 3rem;
      padding: 1.5rem 2.5rem 1.5rem 2.5rem;
    }
  }

  #scroll-down-button {
    position: absolute;
    bottom: 10%;
    right: 15%;

    height: calc(1rem + 2vw);
    width: calc(1rem + 2vw);

    display: flex;
    justify-content: center;
    align-items: center;

    border: solid;
    border-width: 0;
    border-radius: 5rem;
    border-color: v.$pallette_eight;

    font-style: normal;
    font-size: calc(1rem + 2vw);
    font-family: v.$font-one;
    font-weight: 800;

    color: v.$pallette_two;
    background-color: v.$pallette_one;

    padding: max(0.5rem, 0.5vw) max(0.5rem, 0.5vw) max(0.5rem, 0.5vw) max(0.5rem, 0.5vw);

    cursor: pointer;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      position: relative;
      bottom: 12%;
      left: 0%;
      height: 4.5rem;
      width: 4.5rem;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      position: relative;
      bottom: 12%;
      left: 0%;
      height: 5.5rem;
      width: 5.5rem;
    }
  }


  // @#@#@#@#@&%&%&%&%&%&%&%&%&%&@#@#@#@#@ Testimonial @#@#@#@#@&%&%&%&%&%&%&%&%&%&@#@#@#@#@

  #home-testimonial-one {
    width: 85%;
    height: 70%;

    color: v.$pallette_two;
    font-family: v.$font-four;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      padding: 4rem 1rem;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      padding: 5rem 15rem;
    }

    //Quote
    h1 {
      font-size: calc(0.1rem + 3vw);

      //Mobile Sizing & Positioning
      @include d.for-phone-only {
        font-size: calc(0.1rem + 5.8vw);
      }

      //Tablet Portrait Sizing & Positioning
      @include d.for-tablet-portrait-up {
        font-size: calc(0.1rem + 5.8vw);
      }
    }

    //Speaker
    p {
      font-size: calc(0.1rem + 2vw);
      margin-left: 40%;

      //Mobile Sizing & Positioning
      @include d.for-phone-only {
        font-size: calc(0.1rem + 4vw);
      }

      //Tablet Portrait Sizing & Positioning
      @include d.for-tablet-portrait-up {
        font-size: calc(0.1rem + 4vw);
      }
    }
  }

  // @#@#@#@#@&%&%&%&%&%&%&%&%&%&@#@#@#@#@ Contents @#@#@#@#@&%&%&%&%&%&%&%&%&%&@#@#@#@#@

  // &%&%&%&%&%&%&%&%&%& Wallpaper Div &%&%&%&%&%&%&%&%&%&
  #home-wallpaper {
    background-image: url("../../../public/assets/backgrounds/home_page/secondary.png");
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    background-size: cover;

    position: absolute;
    height: calc(5rem + 40vw);
    top: -22vw;

    z-index: 0;
    width: 100vw;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {

    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {

    }
  }

  // @#@#@#@#@#@#@#@#@#@ Home Content Block One @#@#@#@#@#@#@#@#@#@

  //Person Graphic
  #home-content-graphic-one {
    //border: solid red;

    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    background-size: cover;

    background-image: url("../../../public/assets/graphics/home_page/graphic_one.svg");

    width: 25vw;
    height: 28vw;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      width: 30vw;
      height: 40vw;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      width: 30vw;
      height: 40vw;
    }
  }

  //Content Block One Text
  #home-content-text-one {
    max-width: 45%;
    overflow-wrap: normal;
    text-align: left;
  }

  //Blue Right-to-Left Arrow
  #home-content-graphic-two {
    //border: solid red;

    background-repeat: no-repeat;
    background-position: bottom;
    background-origin: content-box;
    background-size: contain;
    rotate: -10deg;

    background-image: url("../../../public/assets/graphics/home_page/graphic_two.svg");

    position: absolute;
    bottom: -15vw;
    right: 15vw;

    width: 25vw;
    height: 25vw;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      bottom: -12vw;
      right: 25vw;
      width: 28vw;
      height: 35vw;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      bottom: -12vw;
      right: 25vw;
      width: 28vw;
      height: 35vw;
    }
  }

  // @#@#@#@#@#@#@#@#@#@ Home Content Block Two @#@#@#@#@#@#@#@#@#@

  //Person Graphic
  #home-content-graphic-three {
    // border: solid red;

    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    background-size: cover;
    background-image: url("../../../public/assets/graphics/home_page/graphic_three.svg");

    width: 30vw;
    height: 30vw;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      width: 42vw;
      height: 55vw;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      width: 38vw;
      height: 50vw;
    }
  }

  //Content Block Two Text Wrapper
  #home-content-block-two-text-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #D5D9FF;

    width: 35%;
    height: 80%;
    border-radius: 50% 50%;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      width: 50vw;
      height: 50vw;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      width: 50vw;
      height: 45vw;
    }
  }

  //Content Block Two Text
  #home-content-text-two {
    text-align: center;
    max-width: 75%;
  }

  //Loopy Arrow Graphic
  #home-content-graphic-four {
    // border: solid;
    // border-color: red;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    background-size: cover;
    background-image: url("../../../public/assets/graphics/home_page/graphic_four.svg");
    rotate: 20deg;

    position: absolute;

    bottom: -11vw;
    left: -2vw;

    width: 25vw;
    height: 25vw;
    z-index: 3;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      bottom: -8vw;
      left: -3vw;
      width: 28vw;
      height: 28vw;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      bottom: -8vw;
      left: -3vw;
      width: 28vw;
      height: 28vw;
    }
  }

  // @#@#@#@#@#@#@#@#@#@ Home Content Block Three @#@#@#@#@#@#@#@#@#@

  //People Graphic
  #home-content-graphic-five {
    // border: solid;
    // border-color: red;

    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    background-size: cover;
    background-image: url("../../../public/assets/graphics/home_page/graphic_five.svg");

    position: relative;

    width: 45vw;
    height: 25vw;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      width: 60vw;
      height: 35vw;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      width: 60vw;
      height: 35vw;
    }
  }

  
  //Content Block Three Text Wrapper
  #home-content-block-three-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background-color: #B4FFF1;
    border-radius: 5rem;
    width: 50%;
    height: 15vw;

    margin: 0 0 3vw 0;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      width: 90%;
      height: 35vw;
      border-radius: 2rem;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      width: 90%;
      height: 35vw;
      border-radius: 2rem;
    }
  }

  //Content Block Three Text ("Pick the best...")
  #home-content-text-three {
    margin: 0 0 0 0 !important;
  }

  //Content Block Three Text ("Its time to...")
  #home-content-text-four {
    margin: 0 0 0 0 !important;
    font-style: italic;
  }

  //Content Block Three Text ("Kick It!")
  #home-content-text-five {
    margin: 0 0 0 0 !important;
    font-weight: bolder;
    font-size: calc(0.1rem + 3vw);

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      font-size: calc(0.1rem + 5vw);
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      font-size: calc(0.1rem + 5vw);
    }
  }

  //Squigely Arrow
  #home-content-graphic-six {
    // border: solid;
    // border-color: red;

    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    background-size: contain;
    background-image: url("../../../public/assets/graphics/home_page/graphic_six.svg");

    position: absolute;
    bottom: -22vw;

    width: 20vw;
    height: 20vw;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      bottom: -27vw;
      width: 25vw;
      height: 25vw;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      bottom: -27vw;
      width: 25vw;
      height: 25vw;
    }
  }

  #get-started-wrapper {
    // border: solid red;

    width: 100%;
    height: 10vw;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      height: fit-content;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      height: fit-content;
    }
  }

  //Create Event Button
  #get-started {
    border: solid;
    border-width: 0;
    border-radius: 5rem;
    border-color: v.$pallette_eight;

    font-style: normal;
    font-size: calc(1rem + 1vw);
    font-family: v.$font-one;
    font-weight: 900;

    color: v.$pallette_two;
    background-color: v.$pallette_one;

    padding: max(0.5rem, 1.5vw) max(1rem, 4vw);
    margin: 0 0 5vw 0;

    pointer-events: all;
    cursor: pointer;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      font-size: 1.8rem;
      padding: 1rem 2rem 1rem 2rem;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      font-size: 3rem;
      padding: 1.5rem 2.5rem 1.5rem 2.5rem;
    }
  }

}