//Imports
@use './../variables' as v;
@use './../mixins' as m;
@use './../device' as d;

//%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Container Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%
#home-shell {

  //Display Settings
  appearance: none;
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  margin: 0 0 0 0;
  padding: 0 0 0 0;

  position: relative;

  height: fit-content;

  //Mobile Sizing
  @include d.for-phone-only {

  }

  //Tablet Portrait Sizing & Positioning
  @include d.for-tablet-portrait-up {

  }
  
  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Major Component Wrappers Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  // &%&%&%&%&%&%&%&%&%& Landing Wrapper &%&%&%&%&%&%&%&%&%&
  #home-landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-image: url("../../../public/assets/backgrounds/home_page/landing.png");
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    background-size: cover;

    position: relative;

    height: 100vh;
    width: 100vw;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      height: 100vh;
      width: 100vw;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      height: 100vh;
      width: 100vw;
    }

  }

  // &%&%&%&%&%&%&%&%&%& Testimonial Wrapper &%&%&%&%&%&%&%&%&%&
  #home-testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    position: relative;

    width: 90vw;
    height: 50vw;
    margin: 5vw 0 0 0;
    z-index: 1;

    border: none;
    border-radius: 4rem;

    background: linear-gradient(270deg, #4DDABB -28.37%, #3D4BC6 122.74%);

    font-family: v.$font-four;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
    }
  }
  
  // &%&%&%&%&%&%&%&%&%& Contents Wrapper &%&%&%&%&%&%&%&%&%&
  #home-contents {
    // border: solid;
    // border-color: green;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;

    width: 100%;
    height: fit-content;

    margin: max(3rem, 14vw) 0 0 0;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
    }
  }

  // @#@#@#@#@#@#@#@#@#@ Content Blocks @#@#@#@#@#@#@#@#@#@

  //Content Block One
  #home-content-block-one {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    position: relative;

    width: 90%;
    height: 50vw;

    background-color: #FFE2FE;
    border-radius: 4rem;

    padding: 1vw 0vw 1vw 0vw;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
    }
  }

  //Content Block Two
  #home-content-block-two {
    // border: solid;
    // border-color: pink;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    position: relative;

    width: 90%;
    height: 50vw;

    margin: 12vw 0 0 0;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
    }
  }

  //Content Block Three
  #home-content-block-three {
    // border: solid;
    // border-color: purple;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;

    width: 100%;

    margin: 12vw 0 25vw 0;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
    }
  }

  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Class Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  .home-content-text {
    font-family: v.$font-two;
    font-style: normal;
    font-size: calc(1rem + 2vw);
    color: v.$pallette_three;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
    }
  }

  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Individual Element Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  // @#@#@#@#@&%&%&%&%&%&%&%&%&%&@#@#@#@#@ Landing @#@#@#@#@&%&%&%&%&%&%&%&%&%&@#@#@#@#@

  //Create Event Button
  #createEvent {
    position: absolute;
    bottom: 10%;

    border: solid;
    border-width: 0;
    border-radius: 5rem;
    border-color: v.$pallette_eight;

    font-style: normal;
    font-size: calc(1rem + 1vw);
    font-family: v.$font-one;
    font-weight: 800;

    color: v.$pallette_two;
    background-color: v.$pallette_one;

    padding: max(0.5rem, 1vw) max(1rem, 2vw);

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
    }
  }


  // @#@#@#@#@&%&%&%&%&%&%&%&%&%&@#@#@#@#@ Testimonial @#@#@#@#@&%&%&%&%&%&%&%&%&%&@#@#@#@#@

  #home-testimonial-one {
    width: 85%;
    height: 70%;

    color: v.$pallette_two;
    font-family: v.$font-four;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
      padding: 5rem 15rem;
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
      padding: 5rem 15rem;
    }

    //Quote
    h1 {
      font-size: calc(0.5rem + 5vw);

      //Mobile Sizing & Positioning
      @include d.for-phone-only {
      }

      //Tablet Portrait Sizing & Positioning
      @include d.for-tablet-portrait-up {
      }
    }

    //Speaker
    p {
      font-size: calc(0.7rem + 2vw);
      margin-left: 40%;

      //Mobile Sizing & Positioning
      @include d.for-phone-only {
      }

      //Tablet Portrait Sizing & Positioning
      @include d.for-tablet-portrait-up {
      }
    }
  }

  // @#@#@#@#@&%&%&%&%&%&%&%&%&%&@#@#@#@#@ Contents @#@#@#@#@&%&%&%&%&%&%&%&%&%&@#@#@#@#@

  // &%&%&%&%&%&%&%&%&%& Wallpaper Div &%&%&%&%&%&%&%&%&%&
  #home-wallpaper {
    background-image: url("../../../public/assets/backgrounds/home_page/secondary.png");
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    background-size: cover;

    position: absolute;
    height: calc(5rem + 40vw);
    top: -22vw;

    z-index: 0;
    width: 100vw;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {

    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {

    }
  }

  // @#@#@#@#@#@#@#@#@#@ Home Content Block One @#@#@#@#@#@#@#@#@#@

  //Person Graphic
  #home-content-graphic-one {
    // border: solid;
    // border-color: red;

    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    background-size: cover;

    background-image: url("../../../public/assets/graphics/home_page/graphic_one.svg");

    width: 25vw;
    height: 40vw;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
    }
  }

  //Content Block One Text
  #home-content-text-one {
    max-width: 45%;
    overflow-wrap: normal;
    text-align: left;
  }

  //Blue Right-to-Left Arrow
  #home-content-graphic-two {
    // border: solid;
    // border-color: red;

    background-repeat: no-repeat;
    background-position: bottom;
    background-origin: content-box;
    background-size: contain;
    rotate: -25deg;

    background-image: url("../../../public/assets/graphics/home_page/graphic_two.svg");

    position: absolute;
    bottom: -15vw;
    right: 18vw;

    width: 35vw;
    height: 30vw;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
    }
  }

  // @#@#@#@#@#@#@#@#@#@ Home Content Block Two @#@#@#@#@#@#@#@#@#@

  //Person Graphic
  #home-content-graphic-three {
    // border: solid;
    // border-color: red;

    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    background-size: cover;
    background-image: url("../../../public/assets/graphics/home_page/graphic_three.svg");

    width: 40vw;
    height: 40vw;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
    }
  }

  //Content Block Two Text Wrapper
  #home-content-block-two-text-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #D5D9FF;

    width: 50%;
    height: 80%;
    border-radius: 50% 50%;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
    }
  }

  //Content Block Two Text
  #home-content-text-two {
    text-align: center;
    max-width: 75%;
  }

  //Loopy Arrow Graphic
  #home-content-graphic-four {
    // border: solid;
    // border-color: red;

    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    background-size: cover;
    background-image: url("../../../public/assets/graphics/home_page/graphic_four.svg");
    rotate: 20deg;

    position: absolute;

    bottom: -8vw;
    left: -5vw;

    width: 30vw;
    height: 30vw;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
    }
  }

  // @#@#@#@#@#@#@#@#@#@ Home Content Block Three @#@#@#@#@#@#@#@#@#@

  //People Graphic
  #home-content-graphic-five {
    // border: solid;
    // border-color: red;

    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    background-size: cover;
    background-image: url("../../../public/assets/graphics/home_page/graphic_five.svg");

    position: relative;

    width: 60vw;
    height: 35vw;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
    }
  }

  
  //Content Block Three Text Wrapper
  #home-content-block-three-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background-color: #B4FFF1;
    border-radius: 5rem;
    width: 80%;
    height: 25vw;

    margin: 0 0 3vw 0;
  }

  //Content Block Three Text ("Pick the best...")
  #home-content-text-three {
    margin: 0 0 0 0 !important;
  }

  //Content Block Three Text ("Its time to...")
  #home-content-text-four {
    margin: 0 0 0 0 !important;
    font-style: italic;
  }

  //Content Block Three Text ("Kick It!")
  #home-content-text-five {
    margin: 0 0 0 0 !important;
    font-weight: bolder;
    font-size: calc(1rem + 4vw);
  }

  //Squigely Arrow
  #home-content-graphic-six {
    // border: solid;
    // border-color: red;

    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    background-size: contain;
    background-image: url("../../../public/assets/graphics/home_page/graphic_six.svg");

    position: absolute;
    bottom: -22vw;

    width: 20vw;
    height: 20vw;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
    }
  }

  //Create Event Button
  #getStarted {
    border: solid;
    border-width: 0;
    border-radius: 5rem;
    border-color: v.$pallette_eight;

    font-style: normal;
    font-size: calc(1rem + 1vw);
    font-family: v.$font-one;
    font-weight: 900;

    color: v.$pallette_two;
    background-color: v.$pallette_one;

    padding: max(0.5rem, 1.5vw) max(1rem, 4vw);
    margin: 0 0 5vw 0;

    pointer-events: all;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {
    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {
    }
  }

}