//Imports
@use './../../../variables' as v;
@use './../../../mixins' as m;
@use './../../../device' as d;

$table-column-text-one-color: red;
$table-column-text-two-color: orange;
$table-row-text-color: #014D59;

$table-border-color: #2F6A73;
$table-border-hover-color: #e77474;

//%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Container Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%
#availability-shell {
  border: solid;
  border-color: red;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: calc(1rem + 2vw);

  height: fit-content;
  width: 75%;
  margin-top: max(5rem, 5vw);

  //These Values are set in availabilityChart.js based on the number of cells
  --column-width: 0rem;
  --cell-height: 0rem;

  //Mobile Sizing & Positioning
  @include d.for-phone-only {

  }

  //Tablet Portrait Sizing & Positioning
  @include d.for-tablet-portrait-up {

  }


  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Major Component Wrappers Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  //Availability Chart Container
  table#availability-contents {
    // border: solid;
    // border-color: orange;

    border-collapse: collapse;
    border-width: 0.2rem;

    width: 100%;
    height: fit-content;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {

    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {

    }
  }


  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Class Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  // ------------- General Column and Cell Styling -------------
  #availability-column-label-wrapper {
    border: none;
    height: calc(2rem + 1.5vw);
  }

  //Chart Columns
  tr.availability-row {
    border: none;
    height: calc(2rem + 1.5vw);
  }

  //Chart Cells
  .availability-cell {
    border: solid;
    border-color: $table-border-color;
    border-width: 0.2rem;

    margin: 0;
    padding: 0;
    transition: all 0.5s ease;

    width: var(--column-width);
    height: calc(2rem + 1.5vw);
  }

  // ------------- Row Label Styling -------------

  //Row Label Cell
  .availability-row-label-cell {
    border: solid $table-border-color;
    border-left: none;
    border-width: 0.1rem;

    position: relative;

    width: calc(0.75 * var(--column-width));
    height: calc(2rem + 1.5vw);

    text-align: left;
  }

  //Row Label Text
  .availability-row-label-text {
    // border: solid red;
    width: 70%;
    padding-right: 10%;

    position: absolute;
    top: calc((2rem + 1.5vw)/2);
    left: -5%;

    color: $table-row-text-color;
    background-color: white;

    text-align: right;
    font-size: calc(0.5rem + 0.7vw);


    //Mobile Sizing & Positioning
    @include d.for-phone-only {

    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {

    }
  }

  // ------------- Column Label Styling -------------

  //Column Label Cell
  .availability-column-label-cell {
    position: relative;

    border: solid;
    border-top: none;
    border-color: $table-border-color;
    border-width: 0.1rem;

    margin: 0 0 0 0;
    padding: 0;

    height: calc(2rem + 1.5vw) !important;
    width: var(--column-width);

    overflow-y: hidden;
  }

  //Column Label Text One
  .availability-column-label-text-one {
    position: absolute;
    left: 0%;
    top: -10%;

    width: 100%;
    margin: 0;
    padding: 0;

    font-size: calc(0.5rem + 0.5vw);
    font-family: v.$font_two;
    color: v.$pallette_three;
    text-align: center;
  }

  //Column Label Text Two
  .availability-column-label-text-two {
    position: absolute;
    top: 25%;
    left: 0%;

    width: 100%;
    margin: 0;
    padding: 0;

    font-size: calc(1rem + 1.2vw);
    font-family: v.$font_two;
    color: v.$pallette_three;
    text-align: center;
  }

  // ------------- Cell Class Styling -------------

  .everyoneAvailable {
    background-color: rgb(7, 71, 19);
  }

  .alotAvailable {
    background-color: rgb(37, 131, 53);
  }

  .manyAvailable {
    background-color: rgb(41, 182, 65);
  }

  .someAvailable {
    background-color: rgb(64, 247, 94);
  }

  .fewAvailable {
    background-color: rgb(105, 255, 130);
  }

  .verFewAvailable {
    background-color: rgb(179, 255, 191);
  }

  .noneAvailable {
    background-color: rgb(252, 252, 252);
  }

  .selected {
    background-color: rgb(228, 206, 82);
  }

  // .selected + .everyoneAvailable {
  //   background-color: rgb(7, 60, 73) !important;
  // }

  // .selected + .alotAvailable {
  //   background-color: rgb(15, 100, 121) !important;
  // }

  // .selected + .manyAvailable {
  //   background-color: rgb(16, 117, 143) !important;
  // }

  // .selected + .someAvailable {
  //   background-color: rgb(12, 162, 199) !important;
  // }

  // .selected + .fewAvailable {
  //   background-color: rgb(76, 203, 235) !important;
  // }

  // .selected + .veryFewAvailable {
  //   background-color: rgb(142, 221, 241) !important;
  // }



//%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Individual Element Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  //Top Left Cell of the Table
  #availability-top-row-label-cell {
    border: solid $table-border-color;
    border-top: none;
    border-left: none;
    border-width: 0.1rem;

    position: relative;

    width: calc(0.75 * var(--column-width));
    height: calc(2rem + 1.5vw);

    text-align: left;

    p {

      // border: solid red;
      width: 70%;
      padding-right: 10%;

      position: absolute;
      top: 50;
      left: -5%;

      color: $table-row-text-color;
      background-color: white;

      text-align: right;
      font-size: calc(0.5rem + 0.7vw);


      //Mobile Sizing & Positioning
      @include d.for-phone-only {

      }

      //Tablet Portrait Sizing & Positioning
      @include d.for-tablet-portrait-up {

      }
    }
  }

}