//Imports
@use './../../../variables' as v;
@use './../../../mixins' as m;
@use './../../../device' as d;

$table-column-text-one-color: red;
$table-column-text-two-color: orange;
$table-row-text-color: #014D59;

$table-border-color: #2F6A73;
$table-border-hover-color: #e77474;

//%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Container Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%
#availability-shell {
  border: solid;
  border-color: pink;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: calc(1rem + 1vw);

  height: fit-content;
  width: 90%;

  //These Values are set in availabilityChart.js based on the number of cells
  --column-width: 0rem;
  --cell-height: 0rem;

  //Mobile Sizing & Positioning
  @include d.for-phone-only {

  }

  //Tablet Portrait Sizing & Positioning
  @include d.for-tablet-portrait-up {

  }


  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Major Component Wrappers Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  //Availability Chart Container
  #availability-contents {
    border: solid;
    border-color: orange;

    border-collapse: collapse;
    border-width: 0.2rem;

    width: 100%;
    height: fit-content;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {

    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {

    }
  }

  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Class Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  // ------------- General Column and Cell Styling -------------

  //Chart Columns
  .availability-row {
    // border: solid;
    // border-color: blue;
  }

  //Chart Cells
  .availability-cell {
    border: solid;
    border-color: $table-border-color;
    border-width: 0.1rem;

    margin: 0;
    padding: 0;
    transition: all 0.5s ease;

    width: var(--column-width);
    height: calc(2rem + 1.5vw);

    &:hover {
      border-top: solid;
      border-left: solid;
      border-right: solid;
      border-bottom: solid;

      border-width: 0.4rem;
      
      border-color: $table-border-hover-color;
      transition: all 0.5s ease;
    }
  }

  // ------------- Row Label Styling -------------

  //Row Label Cell
  .availability-row-label-cell {
    border: solid $table-border-color;
    border-left: none;
    border-width: 0.1rem;

    width: calc(0.5 * var(--column-width));
    height: calc(2rem + 1.5vw);
  }

  //Row Label Text
  .availability-row-label-text {
    position: relative;
    color: $table-row-text-color;
    text-align: right;

    //Mobile Sizing & Positioning
    @include d.for-phone-only {

    }

    //Tablet Portrait Sizing & Positioning
    @include d.for-tablet-portrait-up {

    }
  }

  // ------------- Column Label Styling -------------

  //Column Label Cell
  .availability-column-label-cell {
    border: solid;
    border-color: $table-border-color;
    border-width: 0.1rem;

    margin: 0 0 0 0;

    height: 100%;
    width: var(--column-width);
  }

  //Column Label Text
  .availability-column-label-text {
    position: relative;
    bottom: 0.2rem;
    font-size: 0.8rem;
    color: $table-column-text-one-color;
    text-align: center;
  }

  // ------------- Cell Class Styling -------------

  .everyoneAvailable {
    background-color: rgb(18, 59, 25);
  }

  .alotAvailable {
    background-color: rgb(30, 114, 44);
  }

  .manyAvailable {
    background-color: rgb(57, 243, 88);
  }

  .someAvailable {
    background-color: rgb(107, 233, 128);
  }

  .fewAvailable {
    background-color: rgb(145, 238, 160);
  }

  .verFewAvailable {
    background-color: rgb(181, 238, 190);
  }

  .noneAvailable {
    background-color: rgb(226, 252, 230);
  }


//%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Individual Element Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

}