//Imports
@use './../../../variables' as v;
@use './../../../mixins' as m;
@use './../../../device' as d;

//%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Container Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%
#details-shell {
  // border: solid;
  // border-color: purple;
  border-radius: 2rem;

  position: relative;

  width: 40%;
  height: calc(10rem + 12vw);
  margin-bottom: max(5rem, 5vw);

  z-index: 0;

  //Mobile Sizing & Positioning
  @include d.for-phone-only {

  }

  //Tablet Portrait Sizing & Positioning
  @include d.for-tablet-portrait-up {

  }


  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Major Component Wrappers Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  #details-header {
    // border: solid pink;
    border-radius: 2rem;
    height: 30%;
    width: 100%;
    position: relative;
    z-index: 1;
  }


  //Main Body Wrapper
  #details-body {
    position: relative;
    top: -12%;

    border-radius: 3rem;
    background-color: #FAF9F6;
    padding: calc(1rem + 1vw);

    width: calc(100% - (2rem + 2vw));
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Class Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%


  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Individual Element Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%


  // ------------------------- Details Header -------------------------

  //Event Title Text
  #details-event-title {
    position: absolute;
    left: calc(1rem + 4%);
    top: 10%;

    font-family: v.$font-two;
    font-size: calc(2rem + 0.3vw);
  }

  //Toggle Button Wrapper
  #details-toggle-button-wrapper {
    position: absolute;
    right: calc(1rem + 4%);
    top: 15%;

    transform-origin: center;

    margin: 0;
    padding: 0;
  }

  //Toggle Button
  #details-toggle-button {
    // border: solid red;
    color: #474646;
    padding: 0;
    margin: 0;

    height: calc(2rem + 2vw);
    width: calc(2rem + 2vw);
  }

  // ------------------------- Details Body -------------------------


  //Location Wrapper
  #event-details-location-wrapper {
    // border: solid red;
    width: 100%;
    height: 30%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    overflow-y: hidden;
    overflow-x: auto;
  }

  #event-details-location-label {
    font-size: calc(1rem + 0.5vw);
    font-family: v.$font-two;
    color: v.$pallette_three;
  }

  //Location Text
  #event-details-location {
    margin-left: calc(2rem + 1vw);
    font-size: calc(1rem + 0.5vw);
    font-family: v.$font-two;
    color: black;
  }

  ///////////////////////////////////////////////////////////////
  //Description Wrapper
  #event-details-description-wrapper {
    border:  2px solid #A2A2A2;
    border-radius: 1rem;

    width: calc(100% - (2rem));
    height: calc(65% - (2rem));

    padding: calc(1rem);
    overflow-x: hidden;
    overflow-y: auto;
  }

  //Description Text
  #event-details-description {

    font-size: calc(1rem + 0.4vw);
    font-family: v.$font-two;
    color: black;
  }


}