//Imports
@use './../../../variables' as v;
@use './../../../mixins' as m;
@use './../../../device' as d;

//%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Container Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%
#participants-shell {
  // border: solid pink;
  border-radius: 1vw;

  height: fit-content;

  padding: 2vw;
  background: rgba(255, 255, 255, 0.71);
  margin-bottom: max(2.5rem, 2.5vw);

  //Mobile Sizing & Positioning
  @include d.for-phone-only {
    width: 70%;
  }

  //Tablet Portrait Sizing & Positioning
  @include d.for-tablet-portrait-up {
    width: 65%;
  }

  //Tablet Landscape Sizing & Positioning
  @include d.for-tablet-landscape-up {
    width: 55%;
  }

  //Desktop Sizing & Positioning
  @include d.for-desktop-up {
    width: 60%;
  }

  //Large Desktop Sizing & Positioning
  @include d.for-big-desktop-up {
    width: 60%;
  }


  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Major Component Wrappers Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  #participants-body {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 0.2vw;
    grid-row-gap: 0.2vw;
    margin-top: 1vw;

  }

  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Class Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  .participants-name-wrapper {
    // border: solid purple;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;

    position: relative;

    overflow-x: hidden;

    cursor: pointer;
  }

  .participants-name-indicator {
    // border: solid red;
    border-radius: 1vw;

    margin: 0;
    padding: 0;

    width: calc(0.1rem + 0.5vw);
    height: calc(0.1rem + 0.5vw);

    position: relative;
    top: 40%;
    right: 5%;

    background-color: #51D245;
    transition: background-color 0.5s ease;
  }

  .participants-name-text {
    // border: solid pink;
    color: #2C2C2C;
    font-family: v.$font_two;
    font-size: calc(0.1rem + 1vw);

    width: 75%;
    overflow-x: hidden;
    text-overflow: ellipsis;

    transition: color 0.5s ease;
    
  }

  .not-selected {
    color: #2c2c2c4b !important;
    background-color: v.$invisible !important;
  }

  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Individual Element Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

  h1 {
    font-family: v.$font-two;
    color: #2C2C2C;
    border-bottom: solid;
    width: fit-content;
    margin: auto;

    font-size: calc(0.1rem + 1.5vw);

    pointer-events: none;
    cursor: default;
  }

}