//Imports
@use './../../../variables' as v;
@use './../../../mixins' as m;
@use './../../../device' as d;

//%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Container Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%
#participants-shell {
  border: solid;
  border-color: pink;

  background: rgba(255, 255, 255, 0.71);

  //Mobile Sizing & Positioning
  @include d.for-phone-only {

  }

  //Tablet Portrait Sizing & Positioning
  @include d.for-tablet-portrait-up {

  }


  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Major Component Wrappers Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%


  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Class Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%

    .participants-name-indicator {
      border-radius: 0.4rem;
      width: calc(0.4rem + 0.25vw);
      height: calc(0.4rem + 0.25vw);
      background-color: #51D245;
    }

    .participants-name-indicator + .not-selected {
      background-color: v.$invisible !important;
    }

  //%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Individual Element Styles %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%


}